<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<body>
    <div id="wrapper">

        <main id="product">            

            <!-- 장바구니 페이지 시작 -->
            <section class="cart" layout:fragment="content">
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                  // 모든 아코디언 버튼 요소 가져오기
                  var accordionButtons = document.querySelectorAll('.accordion-button');

                  document.querySelectorAll('.number')
                  // 각 아코디언 버튼에 대해 이벤트 리스너 추가
                  accordionButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                      // 해당 버튼의 data-bs-target 값을 사용하여 아코디언 컨텐츠 요소 가져오기
                      var targetId = button.getAttribute('data-bs-target');
                      var targetContent = document.getElementById(targetId);

                      // 현재 아코디언 상태 확인
                      var isExpanded = button.getAttribute('aria-expanded') === 'true';

                      // 아코디언 상태 변경
                      if (isExpanded) {
                        // 아코디언 닫기
                        button.setAttribute('aria-expanded', 'false');
                        targetContent.classList.remove('show');
                      } else {
                        // 아코디언 열기
                        button.setAttribute('aria-expanded', 'true');
                        targetContent.classList.add('show');
                      }
                    });
                  });
                });

                window.onload = function (){

                  // 숫자를 3자리마다 콤마를 추가하여 문자열로 반환하는 함수
                  function numberWithCommas(x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  }

                  // 가격 업데이트
                  document.querySelectorAll('.cartProduct').forEach(input =>{

                    const product = input.closest('.cartProduct');
                    const inputs = product.querySelector('.count .number' );
                    const increase = product.querySelector('.count .increase');
                    const decrease = product.querySelector('.count .decrease');
                    let value = inputs.value;

                    const priceElement = product.querySelector('.currentPrice strong');

                    const orgPriceElement = product.querySelector('.originalPrice span');
                    const orgPriceElementValue = orgPriceElement.innerText;
                    const orgPriceElementWithoutwon = orgPriceElementValue.split('원')[0];
                    // 가격을 숫자로 파싱
                    const price = parseFloat(priceElement.innerText.replace('원', '').replace(',', ''));
                    const orgPrice = parseInt(orgPriceElementWithoutwon);

                    // 수량을 숫자로 파싱
                    let intValue = parseInt(value);

                    orgPriceElement.innerText = numberWithCommas(orgPrice*value)+'원';

                    // 수량 증가 버튼
                    increase.addEventListener('click', function(inbutton){
                      inbutton.preventDefault();
                      const checkboxes = document.querySelectorAll('.checkbox');

                      intValue += 1
                      const cartNo = inbutton.target.closest('.cartProduct').querySelector('.checkbox').value;
                      console.log(cartNo);
                      console.log(intValue);
                      const jsonData = {
                        cartNo :cartNo,
                        count: intValue
                      };
                      fetch('/lotteon/cart/count',{
                        method:'PUT',
                        headers:{"Content-type":"application/json"},
                        body: JSON.stringify(jsonData)
                      })
                              .then(response => response.json())
                              .then(data =>{
                                console.log(data);
                              })
                              .catch((err)=>{
                                console.log(err)});


                      inputs.value = intValue;
                      // 총 가격 계산
                      const totalPrice = price * intValue;
                      const totalorgPrice = orgPrice*intValue;


                      // 총 가격을 화면에 업데이트
                      priceElement.innerText = numberWithCommas(totalPrice);

                      orgPriceElement.innerHTML = "";
                      orgPriceElement.innerText = numberWithCommas(totalorgPrice);
                      // 토탈 메뉴
                      checkboxes.forEach(checked=>{
                        if(checked.checked){

                          // 토탈 수량
                          const cartCount = document.getElementById('prodCount');
                          let cartTotalCount = 0;

                          document.querySelectorAll('.count .number').forEach(count=> {
                            if (count.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let value = parseInt(count.value);
                              cartTotalCount += value;

                              cartCount.innerHTML = "";
                              cartCount.textContent = cartTotalCount;
                            }
                          });
                          // 토탈가격
                          const cartTotal = document.getElementById('prodTotalPrice');
                          let cartTotalValue = 0;

                          document.querySelectorAll('.currentPrice strong').forEach(price => {
                            // 해당 요소의 체크박스가 선택되었는지 확인
                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let noComma = price.innerText.replace(/,/g, '');
                              let int = parseInt(noComma);
                              cartTotalValue += int;
                            }
                          });
                          cartTotal.innerHTML = "";
                          cartTotal.textContent +=numberWithCommas(cartTotalValue)+'원';
                        }

                        const cartOrg = document.getElementById('prodOrgPrice');
                        let orgTotal = 0;
                        document.querySelectorAll('.originalPrice span').forEach(price => {

                          if (price.closest('.cartProduct').querySelector('.checkbox').checked) {

                            // 현재 버튼과 일치하는 상품의 원 가격만 빼기
                            let noComma = price.innerText.replace(/,/g, '');
                            let int = parseInt(noComma);

                            orgTotal += int;
                          }

                        });

                        cartOrg.innerHTML = "";
                        cartOrg.textContent += numberWithCommas(orgTotal)+'원';

                        document.querySelectorAll('.originalPrice span').forEach(price => {
                          const cartDis = document.getElementById('prodDisPrice');
                          if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                            let orgPrice = parseInt(cartOrg.innerHTML.replace(/,/g, ''));
                            let totalPrice = parseInt(cartTotal.innerHTML.replace(/,/g, ''));
                            let int = orgPrice - totalPrice;

                            cartDis.innerHTML = "";
                            cartDis.textContent = numberWithCommas(int);
                          }
                        });

                        updateFooterDel();
                        updateFooterOrg();
                        updateFooterTotal();
                        updateFooterDiscount();

                      });

                    });
                    // 수량 감소 버튼
                    decrease.addEventListener('click', function(debutton){
                      debutton.preventDefault();

                      intValue -= 1

                      if(intValue <1){
                        alert('최소1개까지 구매 가능한 상품입니다.');
                        intValue=1;
                      }

                      const cartNo = debutton.target.closest('.cartProduct').querySelector('.checkbox').value;
                      console.log(cartNo);
                      console.log(intValue);
                      const jsonData = {
                        cartNo :cartNo,
                        count: intValue
                      };
                      fetch('/lotteon/cart/count',{
                        method:'PUT',
                        headers:{"Content-type":"application/json"},
                        body: JSON.stringify(jsonData)
                      })
                              .then(response => response.json())
                              .then(data =>{
                                console.log(data);
                              })
                              .catch((err)=>{
                                console.log(err)});
                      inputs.value = intValue;

                      // 총 가격 계산
                      const totalPrice = price * intValue;
                      const totalorgPrice = orgPrice*intValue;

                      orgPriceElement.innerHTML = "";
                      orgPriceElement.innerText = numberWithCommas(totalorgPrice);
                      // 총 가격을 화면에 업데이트
                      priceElement.innerText = numberWithCommas(totalPrice);

                      // 토탈 메뉴
                      checkboxes.forEach(checked=>{
                        if(checked.checked){
                          // 토탈 수량
                          const cartCount = document.getElementById('prodCount');
                          let cartTotalCount = 0;

                          document.querySelectorAll('.count .number').forEach(count=>{
                            if (count.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let value = parseInt(count.value);
                              cartTotalCount +=value;

                              cartCount.innerHTML = "";
                              cartCount.textContent = cartTotalCount;
                            }

                          });

                          const cartTotal = document.getElementById('prodTotalPrice');
                          let cartTotalValue = 0;

                          document.querySelectorAll('.currentPrice strong').forEach(price => {
                            // 해당 요소의 체크박스가 선택되었는지 확인
                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let noComma = price.innerText.replace(/,/g, '');
                              let int = parseInt(noComma);
                              cartTotalValue += int;
                            }
                          });
                          cartTotal.innerHTML = "";
                          cartTotal.textContent +=numberWithCommas(cartTotalValue)+'원';

                          const cartOrg = document.getElementById('prodOrgPrice');
                          let orgTotal = 0;

                          // 선택된 상품 중 수량 감소 버튼을 누른 상품의 원 가격을 찾아서 빼기
                          document.querySelectorAll('.originalPrice span').forEach(price => {

                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {

                              // 현재 버튼과 일치하는 상품의 원 가격만 빼기
                              let noComma = price.innerText.replace(/,/g, '');
                              let int = parseInt(noComma);

                              orgTotal += int;
                            }

                          });

                          cartOrg.innerHTML = "";
                          cartOrg.textContent += numberWithCommas(orgTotal)+'원';

                          document.querySelectorAll('.originalPrice span').forEach(price => {
                            const cartDis = document.getElementById('prodDisPrice');
                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let orgPrice = parseInt(cartOrg.innerHTML.replace(/,/g, ''));
                              let totalPrice = parseInt(cartTotal.innerHTML.replace(/,/g, ''));
                              let int = orgPrice - totalPrice;

                              cartDis.innerHTML = "";
                              cartDis.textContent = numberWithCommas(int);
                            }
                          });
                        }

                        updateFooterDel();
                        updateFooterOrg();
                        updateFooterTotal();
                        updateFooterDiscount();
                      });

                    });

                    // 총 가격 계산
                    const totalPrice = price * intValue;
                    // 총 가격을 화면에 업데이트
                    priceElement.innerText = numberWithCommas(totalPrice);

                  });

                  // 전체 선택
                  const selectAll = document.getElementsByClassName('selectAll')[0];
                  const checkboxes = document.querySelectorAll('.checkbox');
                  const checkCom = document.querySelectorAll('.checkCom');

                  selectAll.addEventListener('click', function () {
                      for(let i = 0; i<checkboxes.length; i++) {
                        checkboxes[i].checked = selectAll.checked;
                      }
                      for(let j = 0; j<checkCom.length; j++){
                        checkCom[j].checked = selectAll.checked;
                      }
                      updateTotal();
                      updateCount();
                      updateOrgPrice();
                      updateDiscount();
                      updatePoint();
                      updateFooterOrg();
                      updateFooterTotal();
                      updateFooterDiscount();
                      updateFooterDel()
                      updateDelivery()
                  });

                  // 회사별로 전체 선택
                  checkCom.forEach(function (e) {
                    e.addEventListener('click', function (check) {
                      check.stopPropagation();
                      const company = e.getAttribute('data-company');
                      console.log(company)

                      const checkbox = document.querySelectorAll(`.checkbox[data-company="${company}"]`);
                      checkbox.forEach(checkbox =>{
                        checkbox.checked = e.checked;
                      });
                      updateTotal();
                      updateCount();
                      updateOrgPrice();
                      updateDiscount();
                      updatePoint();
                      updateFooterOrg();
                      updateFooterTotal();
                      updateFooterDiscount();
                      updateFooterDel();
                      updateDelivery();
                    });
                  });

                  // 선택삭제
                  const deleteCartItems = document.getElementsByClassName('deleteCartItems')[0];
                  var cartNumbers = [];
                  deleteCartItems.addEventListener('click', function(e){

                    const checkbox = document.querySelectorAll('.checkbox:checked');
                    checkbox.forEach(e => {
                      cartNumbers.push(e.value);
                    });
                    e.preventDefault();

                    console.log(cartNumbers);

                    if (confirm('장바구니에서 삭제하시겠습니까?')){
                       const jsonData = {
                         cartNo : cartNumbers
                       };

                      fetch('/lotteon/cart/delete', {
                        method:'POST',
                        headers:{"Content-type":"application/json"},
                        body: JSON.stringify(jsonData)
                      })
                              .then(response=> response.json())
                              .then(data =>{
                                console.log(data);
                                if (data!=null){
                                  location.reload();
                                }
                              })
                              .catch((err)=>{
                                console.log(err)}
                              );
                    }

                  });

                  const total = document.getElementsByClassName('total')[0];

                  // 스크롤시 total 폼 따라오기
                  document.addEventListener('scroll', function(event) {
                    let scrollY = window.scrollY;

                    total.style.top = scrollY + 'px';
                  });

                  // 원가격
                  const cartOrg = document.getElementById('prodOrgPrice');
                  // 수량
                  const cartCount = document.getElementById('prodCount');
                  // 배송비
                  const cartDel = document.getElementById('prodDelivery');
                  // 포인트
                  const cartPoi = document.getElementById('prodPoint');
                  // 전체 주문금액
                  const cartTotal = document.getElementById('prodTotalPrice');

                  var totalPrice = 0;

                  // 전체 가격 함수
                 function updateTotal(){
                   totalPrice = 0;

                   // 체크된 상품의 총 가격 합산
                   var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                   checkedBoxes.forEach(function (checkbox){

                     let productPrice = checkbox.closest('.cartProduct').querySelector('.currentPrice strong').textContent;
                     let noComma = parseInt(productPrice.replace(/,/g, ''));
                     totalPrice += noComma

                     cartTotal.innerHTML = "";
                     cartTotal.textContent +=numberWithCommas(totalPrice)+'원';

                   })
                   if (checkedBoxes.length === 0){

                     cartTotal.innerHTML = "";
                     cartTotal.textContent += 0+'원';
                   }
                 }

                 // 전체 수량 가져오기
                 function updateCount(){
                   totalPrice = 0;
                   var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                   checkedBoxes.forEach(function (checkbox){
                    let prodCount = parseInt(checkbox.closest('.cartProduct').querySelector('.count .number').value);
                     totalPrice += prodCount;
                     cartCount.innerHTML = "";
                     cartCount.textContent = totalPrice;
                   })
                   if (checkedBoxes.length === 0){

                     cartCount.innerHTML = "";
                     cartCount.innerText = 0;
                   }
                 }

                 // 전체 상품 원래금액 가져오기
                  function updateOrgPrice() {
                   totalPrice = 0;
                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                    checkedBoxes.forEach(function (checkbox) {
                      let orgPrice = parseInt(checkbox.closest('.cartProduct').querySelector('.originalPrice').innerText.replace(/,/g, ''));
                      totalPrice +=orgPrice;
                      cartOrg.innerHTML = "";
                      cartOrg.textContent += numberWithCommas(totalPrice)+'원';
                    })
                    if (checkedBoxes.length === 0) {

                      cartOrg.innerHTML = "";
                      cartOrg.textContent = 0;

                    }
                  }

                  // 전체 상품 할인금액 가져오기
                  function updateDiscount(){
                    const cartDis = document.getElementById('prodDisPrice');

                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                    checkedBoxes.forEach(function (checkbox) {
                      let orgPrice = parseInt(cartOrg.innerHTML.replace(/,/g, ''));
                      let totalPrice = parseInt(cartTotal.innerHTML.replace(/,/g, ''));
                      let int = orgPrice - totalPrice;

                      cartDis.innerHTML = "";
                      cartDis.textContent = numberWithCommas(int);

                    });
                    if (checkedBoxes.length === 0) {

                      cartDis.innerHTML = "";
                      cartDis.textContent = 0;
                    }
                  }

                  // 전체 포인트 가져오기
                  function updatePoint(){

                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                    checkedBoxes.forEach(function (checkbox) {
                      let prodTotal = parseInt(document.getElementById('prodTotalPrice').innerText.replace(/,/g, '').split('원')[0]);
                      let int = parseInt(prodTotal*0.01);
                      cartPoi.innerHTML = "";
                      cartPoi.textContent = numberWithCommas(int);

                    });
                    if (checkedBoxes.length === 0) {

                      cartPoi.innerHTML = "";
                      cartPoi.textContent = 0;
                    }
                  }
                 // 배송비 가져오기
                 function updateDelivery(){
                   var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                   var company;
                   var num;
                   checkedBoxes.forEach(function (checkbox) {
                     company = checkbox.getAttribute('data-company');
                     num = checkbox.getAttribute('data-num');

                     // 해당하는 회사의 푸터
                     var footer = document.querySelector('#cartTotalPrice'+company);
                     // 해당하는 회사의 배송비
                     var footerDelivery = parseInt(footer.querySelector('.deliverySpan').innerText.match(/\d+/));

                     cartDel.innerHTML = "";
                     cartDel.textContent = numberWithCommas(footerDelivery);

                   });
                   console.log(checkedBoxes.length);
                 }

                 function resetPrice(checkbox){
                   const accordion = checkbox.closest('.accordion-item');
                   const footer = accordion.querySelector('.cartFooter');
                 }
                 // 회사별 푸터 원가격
                 function updateFooterOrg(){
                   var totalOrg = 0;
                   var checkBoxesAll = document.querySelectorAll('.checkbox');
                   var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                   var company;
                   var num;

                   checkedBoxes.forEach(function (checkbox) {

                     console.log(checkbox.closest('.accordion-item').querySelector('.cartFooter'));
                     if(company !== checkbox.getAttribute('data-company')){
                       company = checkbox.getAttribute('data-company');
                       totalOrg = 0;
                     }
                     console.log('회사' + company);
                     num = checkbox.getAttribute('data-num');

                     // 해당하는 회사의 푸터
                     var footer = document.querySelector('#cartTotalPrice'+company);
                     // 해당하는 회사의 푸터 원가격
                     var footerOrg = footer.querySelector('.point');
                     console.log(footer);
                     // 체크된, 해당하는 회사
                     const priceInfo = document.querySelector('#cartPrice'+company+num);
                     // 원 가격
                     const checkedOrg = parseInt(priceInfo.querySelector('.originalPrice span').innerText.replace(/,/g, '').split('원')[0]);
                     totalOrg +=checkedOrg;

                     // 체크된 원가격 표시하기
                     footerOrg.innerHTML = "";
                     footerOrg.textContent = numberWithCommas(totalOrg)+'원';

                     // 만약

                   });
                   checkBoxesAll.forEach(function (checkbox) {
                        resetPrice(checkbox);
                   });
                   console.log('체크박스 길이:' + checkedBoxes.length);
                 }
                  function resetPrice(checkbox){
                    const accordion = checkbox.closest('.accordion-item');
                    const cartFooter = accordion.querySelector('.cartFooter');
                    const checks = accordion.querySelectorAll('.checkbox:checked');

                    const cartPoint = cartFooter.querySelector('.point');
                    const deliverySpan = cartFooter.querySelector('.deliverySpan');
                    const discountSpan = cartFooter.querySelector('.discountSpan');
                    const totalPriceSpan = cartFooter.querySelector('.totalPriceSpan');

                    if(checks.length === 0) {
                      settingZero(cartPoint);
                      settingZero(deliverySpan);
                      settingZero(discountSpan);
                      settingZero(totalPriceSpan);
                    }
                  }
                  function settingZero(span){
                    span.innerHTML = "";
                    span.textContent = 0 + '원';
                  }
                  // 회사별 푸터 총가격
                  function updateFooterTotal(){
                    var totalOrg = 0;
                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                    var company;
                    var num;

                    checkedBoxes.forEach(function (checkbox) {

                      if(company !== checkbox.getAttribute('data-company')){
                        company = checkbox.getAttribute('data-company');
                        totalOrg = 0;
                      }

                      company = checkbox.getAttribute('data-company');
                      num = checkbox.getAttribute('data-num');
                      // 해당하는 회사의 푸터
                      var footer = document.querySelector('#cartTotalPrice'+company);

                      // 해당하는 회사의 푸터 할인 후 가격
                      var footerTotal = footer.querySelector('.totalPriceSpan');
                      // 해당하는 회사의 배송비
                      var footerDelivery = parseInt(footer.querySelector('.deliverySpan').innerText.match(/\d+/));

                      // 체크된, 해당하는 회사
                      const priceInfo = document.querySelector('#cartPrice'+company+num);
                      // 원 가격
                      const checkedOrg = parseInt(priceInfo.querySelector('.currentPrice strong').innerText.replace(/,/g, '').split('원')[0]);
                      totalOrg +=checkedOrg+footerDelivery;
                      // 체크된 원가격 표시하기
                      footerTotal.innerHTML = "";
                      footerTotal.textContent = numberWithCommas(totalOrg)+'원';

                    });

                  }

                  function checkboxClick(){
                    updateFooterDiscount();
                    updateFooterTotal();
                    updateFooterOrg();
                  }
                  // 회사별 푸터 할인가격
                  function updateFooterDiscount(){
                    var totalOrg = 0;
                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                    var company;
                    var num;

                    checkedBoxes.forEach(function (checkbox) {

                      if(company !== checkbox.getAttribute('data-company')){
                        company = checkbox.getAttribute('data-company');
                        totalOrg = 0;
                      }

                      company = checkbox.getAttribute('data-company');
                      num = checkbox.getAttribute('data-num');
                      // 해당하는 회사의 푸터
                      var footer = document.querySelector('#cartTotalPrice'+company);
                      // 해당하는 회사의 푸터 할인가격
                      var footerDiscount = footer.querySelector('.discountSpan');

                      // 해당하는 회사의 푸터 할인 후 가격
                      var footerTotal = parseInt(footer.querySelector('.totalPriceSpan').innerText.replace(/,/g, '').split('원')[0]);

                      // 해당하는 회사의 푸터 원가격
                      var footerOrg = parseInt(footer.querySelector('.point').innerText.replace(/,/g, '').split('원')[0]);

                      totalOrg =(footerOrg - footerTotal);

                      // 체크된 원가격 표시하기
                      footerDiscount.innerHTML = "";
                      footerDiscount.textContent = '할인'+numberWithCommas(totalOrg)+'원';
                    });
                  }

                  // 회사별 푸터 배송비
                  function updateFooterDel(){
                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                    var company;
                    var num;

                    checkedBoxes.forEach(function (checkbox) {
                      company = checkbox.getAttribute('data-company');
                      num = checkbox.getAttribute('data-num');
                      // 해당하는 회사의 푸터
                      var footer = document.querySelector('#cartTotalPrice'+company);
                      // 해당하는 회사의 푸터 할인가격
                      var footerDelivery = footer.querySelector('.deliverySpan');


                      // 체크된, 해당하는 회사
                      const priceInfo = document.querySelector('#cartPrice'+company+num);
                      // 해당하는 상품의 할인후 가격
                      const checkedPrice = parseInt(priceInfo.querySelector('.currentPrice strong').innerText.replace(/,/g, '').split('원')[0]);

                      if(checkedPrice>=30000){
                        // 체크된 원가격 표시하기
                        footerDelivery.innerHTML = "";
                        footerDelivery.textContent = '+ '+'배송비'+ 0 +'원';

                      }else if(checkedPrice<30000){
                        var delPrice = parseInt(document.querySelector('.delivery'+company).value);
                        // 체크된 원가격 표시하기
                        footerDelivery.innerHTML = "";
                        footerDelivery.textContent = '+ ' + '배송비'+ delPrice +'원';

                      }

                    });
                  }

                 // 체크박스 개별 선택시 가격 변경
                  checkboxes.forEach(function(checkbox) {
                    checkbox.addEventListener('change', function (){
                      updateCount();
                      updateTotal();
                      updateOrgPrice();
                      updateDiscount();
                      updatePoint();
                      updateFooterOrg();
                      updateFooterDel();
                      updateFooterTotal();
                      updateFooterDiscount();
                      updateDelivery();

                    });
                  });

                  // 주문하기
                  const btnOrder = document.getElementById('btnOrder');
                  btnOrder.onclick = (e) => {
                    e.preventDefault();

                    if(document.getElementById('prodCount').innerText === "0"){
                      alert('주문 할 상품을 선택해주세요.');
                    }else{
                      let cartNoArray = [];
                      var stringCartNo;
                      var checkedBoxes = document.querySelectorAll('.checkbox:checked');
                      checkedBoxes.forEach(function (checkbox) {
                        cartNoArray.push(checkbox.value);

                      });
                      var stringValue = cartNoArray.join(',');

                      const uid = document.getElementById('userForDirect').value;
                      console.log(uid);


                     fetch(`/lotteon/order?uid=${uid}&cartNo=${stringValue}`)
                      .then(response=>response.json())
                      .then(data=> {
                        if(data != null){
                          console.log(data);
                        }
                      })
                      .catch(
                      (err)=>{location.href=`/lotteon/order?uid=${uid}&cartNo=${stringValue}`});
                    }
                  }
                }

                // 최상단 이동 (topButton) 함수 //
                function movePageTop() {
                  window.scrollTo(0, 0);
                }

              </script>
              <!-- 제목, 페이지 네비게이션 -->
              <nav>
                <h1>장바구니</h1>
                <p>
                  HOME > <strong>장바구니</strong>
                </p>
              </nav>
                            
              <form class="cartForm" action="#">
                <div class="itemController">
                  <div class="checkboxController">
                    <input id="checkboxController" type="checkbox" class="selectAll">
                    <label for="checkboxController" class="cur_hand">전체선택</label>
                  </div>
                  <div class="deleteBtnGroup">
                    <button type="button" class="deleteCartItems">
                      <span>선택삭제</span>
                    </button>
                  </div>
                </div>

                <div th:each="company, iterStat : ${companies}" class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button th:id="'accordionButton'+${iterStat.index}" class="accordion-button" type="button" data-bs-toggle="collapse"
                              th:data-iter="${iterStat.index}" th:data-bs-target="'panelsStayOpen-collapse'+${iterStat.index}" aria-expanded="true" th:aria-controls="'panelsStayOpen-collapse'+${iterStat.index}">
                        <input type="checkbox" class="checkCom" th:data-company="${company}" value="0">
                        [[${company}]]
                      </button>
                    </h2>
                    <!-- 내용 -->
                    <div th:id="'panelsStayOpen-collapse'+${iterStat.index}"
                         th:data-iter="${iterStat.index}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <th:block th:each="cartProduct, loop:${cartProducts}" >
                      <div th:if="${company == cartProduct.company}" th:data-company="${company}" class="accordion-body">
                        <input type="hidden" th:class="'delivery'+${company}" th:value="${cartProduct.delivery}"/>
                        <div class="cartProduct">
                          <label>
                            <input type="checkbox" th:id="'checkbox'+${company}" class="checkbox" th:data-company="${company}" th:data-num="${cartProduct.cartNo}" th:value="${cartProduct.cartNo}">
                          </label>
                          <a th:href="@{#}">
                            <img th:src="@{|/prodImg/${cartProduct.thumb3}|}" style="width: 80px; height: auto;" alt="상품이미지">
                          </a>

                          <div class="details">
                            <a th:href="@{#}">
                              <p class="productDetail">[[${cartProduct.prodName}]]</p>
                            </a>
                            <th:block th:each="option : ${cartProduct.dtoList}">
                              <div class="optionDiv">[[${option.opName}]]/[[${option.opValue}]]</div>
                            </th:block>
                            <p class="productDeliveryInfo" th:text="${#temporals.format(#temporals.createNow().plusDays(2), 'MM-dd')} + ' 도착예정'"> </p>
                          </div>

                          <p>
                            <span class="delivery"> </span>
                            <span class="deliveryFree"> </span>

                          </p>

                          <div class="count">
                            <button th:class="'decrease'">-</button>
                            <input type="text" class="number" name="num" th:value="${cartProduct.count}"/>
                            <button class="increase">+</button>
                          </div>

                          <div class="cartPrice order-3" th:id="'cartPrice'+${company}+${cartProduct.cartNo}">
                            <p class="originalPrice"><span data-v-15ea7d62="">[[${cartProduct.price}]]원</span></p>
                            <span class="discount">[[${cartProduct.discount}]]%</span>
                            <p class="currentPrice" style="">
                              <strong>[[${((100-cartProduct.discount)/100.0)*cartProduct.price}]]</strong><span>원</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      </th:block>
                    </div>
                    <div class="cartFooter" th:data-company="${company}" th:id="'cartTotalPrice'+${company}">
                      <p>
                      <span class="point">0</span>
                        <span class="deliverySpan">+ 배송비 0원</span> - <span class="discountSpan">할인 0원</span>
                      <span > = </span>
                      <span> <strong class="totalPriceSpan"></strong> </span>
                    </div>
                  </div>
                </div>

                <!-- 장바구니 전체합계 -->
                <div class="total">
                  <h2>전체합계</h2>
                  <table border="0">
                    <tr>
                      <td>상품수</td>
                      <td id="prodCount">0</td>
                    </tr>
                    <tr>
                      <td>상품금액</td>
                      <td id="prodOrgPrice">0</td>
                    </tr>
                    <tr>
                      <td>할인금액</td>
                      <td id="prodDisPrice">-</td>
                    </tr>
                    <tr>
                      <td>배송비</td>
                      <td id="prodDelivery">0</td>
                    </tr>              
                    <tr>
                      <td>포인트</td>
                      <td id="prodPoint">0</td>
                    </tr>
                    <tr>
                      <td>전체주문금액</td>
                      <td id="prodTotalPrice">0원</td>
                    </tr>
                  </table>
                  <form id="buyForm" th:action="@{/product/order}" method="POST">
                    <input type="submit" id="btnOrder" value="주문하기">
                    <input type="hidden" name="user" id="userForDirect" th:value="${#authentication.principal.member.uid}">
                  </form>
                </div>

              </form>

            </section>
            <!-- 장바구니 페이지 끝 -->
        </main>
