<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">
            <section id="admin-index" layout:fragment="content">
                <script>
                    window.onload = async function (){
                        // 주문 차트
                        let ordCt = document.getElementById('orderChart');

                        // 주문 데이터 가져오기
                        const response = await fetch('/lotteon/admin/orderChart');
                        const dataText = await response.text(); // JSON 형식의 문자열을 가져옴

                        let total = 0;
                        let data = [];

                        // json 파싱
                        try {
                            // JSON 형식의 문자열을 JavaScript 객체로 변환
                            data = JSON.parse(dataText);
                            console.log("주문 데이터 : ", data);

                            // total 값 추출
                            total = data.pop().total;
                            console.log("Total Orders:", total);
                        } catch (error) {
                            console.error('주문 데이터 변환 오류:', error);
                        }
                        // 차트 상단에 출력
                        const ordTotal = document.getElementById('ordTotal');
                        ordTotal.innerText = total;

                        let orderChart = new Chart(ordCt,     {
                            type: 'bar',
                            data: {
                                labels: data.map(row => row.month),
                                datasets: [{
                                        label: '월별 주문 건수',
                                        data: data.map(row => row.count),
                                        backgroundColor: '#848a8e',}]},
                            options: {
                                // 크기 조절을 위해 false
                                responsive: false,
                                title: {
                                    display: true,
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            stepSize: 1
                                        }
                                    }]
                                }
                            }
                        });
                        // 회원 차트
                        let memCt = document.getElementById('memChart');

                        // 회원 가입 데이터 가져오기
                        const memResp = await fetch('/lotteon/admin/memberChart');
                        const memDataText = await memResp.text(); // JSON 형식의 문자열을 가져옴

                        let totalMem = 0;
                        let memData = [];

                        try {
                            // JSON 형식의 문자열을 JavaScript 객체로 변환
                            memData = JSON.parse(memDataText);
                            console.log("가입 데이터 : ", memData);

                            // total 값 추출
                            totalMem = memData.pop().total;
                            console.log("Total Memders:", totalMem);

                        } catch (error) {
                            console.error('가입 데이터 변환 오류:', error);
                        }
                        // 차트 상단에 출력
                        const memTotal = document.getElementById('memTotal');
                        memTotal.innerText = totalMem;

                        let memChart = new Chart(memCt, {
                            type: 'line',
                            data: {
                                labels: memData.map(row => row.month),
                                datasets: [{
                                        label: '월별 가입 건수',
                                        data: memData.map(row => row.count),
                                        fill: false,
                                        borderColor: 'rgb(75, 192, 192)',
                                        tension: 0.1}]},
                            options: {
                                // 크기 조절을 위해 false
                                responsive: false,
                                title: {
                                    display: true,
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true, // 0부터 시작
                                            stepSize: 1   // 1 씩 증가
                                        }
                                    }]
                                }
                            }
                        });
                    }
                </script>
                <nav>
                    <h3>관리자 메인</h3>
                    <p>
                        HOME > <strong>메인</strong>
                    </p>
                </nav>

                <h4>쇼핑몰 운영현황</h4>
                <article>
                    <table>
                        <tr>
                            <td>
                                <strong>최근 12개월 주문건수(건)</strong>
                                <span id="ordTotal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <canvas id="orderChart" width="800" height="300" style="margin-left: 140px"></canvas>
                            </td>
                        </tr>
                    </table>
                </article>

                <h4>사용자 가입 현황</h4>
                <article>
                    <table>
                        <tr>
                            <td>
                                <strong>최근 12개월 가입건수(건)</strong>
                                <span id="memTotal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <canvas id="memChart" width="800" height="300" style="margin-left: 140px"></canvas>
                            </td>
                        </tr>
                    </table>
                </article>

                <div>
                    <div>
                        <h4>공지사항</h4>
                        <article>
                            <th:block th:each="notice, loop : ${noticeList}">
                            <div>
                                <a th:href="@{/cs/notice/view}"><span>[ [[${notice.typeName}]] ]</span> [[${notice.title}]]</a>
                                <span th:text="${#temporals.format(notice.rdate, 'yyyy-MM-dd')}"></span>
                            </div>
                            </th:block>
                        </article>
                    </div>

                    <div>
                        <h4>고객문의</h4>
                        <article>
                            <th:block th:each="qna, loop : ${qnaList}">
                                <div>
                                    <a th:href="@{/cs/qna/view}"><span>[ [[${qna.typeName}]] ]</span> [[${qna.title}]]</a>
                                    <span th:text="${#temporals.format(qna.rdate, 'yyyy-MM-dd')}"></span>
                                </div>
                            </th:block>
                        </article>
                    </div>
                </div>
            </section>
