<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/companyLayout}">
<main id="culture" layout:fragment="content">
    <div class="cover">
        <div>
            <p>
                대기업의 안정성과 스타트업의 혁신성을 함께, <br>
                롯데ON에서 우리는 성장하고 있어요.
            </p>
        </div>
    </div>
    <section class="content">
        <div class="cultureSub">
            <p class="cultureContentP">
                롯데ON은 안정성 있게, 혁신성 있게 우리의 문화를 만들어가고 있어요. <br>
                구성원들은 수평적이고 자율적인 문화 속에서<br>
                개선을 넘어서 혁신적인 롯데ON만의 서비스를 만들어요.<br>
                그렇게 굵은 점을 찍어가며, 우리는 롯데ON과 함께 성장하고 있어요.<br>
            </p>
        </div>
        <div class="cultureCard">
            <div class="cardContent">
                    <div class="contentImg" data-id="fbc8225" data-element_type="widget" data-widget_type="image.default">
                            <img decoding="async" width="516" height="320" th:src="@{/images/05_aa.png}" class="attachment-full size-full wp-image-4728" alt="" >
                    </div>
            </div>
            <div class="cardContent" >
                    <div class="contentText1" data-id="fcd102e" data-element_type="widget" data-widget_type="text-editor.default">
                            <h3 class="contentTextH">스스로 책임지고 자율적으로 일해요.</h3>
                        <p class="contentTextP">“어른답게” 서로를 어른으로 대하고&nbsp;배려하는 것이 중요해요.<br>스스로 판단하고 자율적으로 행동할 수 있기 때문에&nbsp;<br>더 높은 효율을 만들어나가며 일을 할 수 있어요.</p>
                    </div>
            </div>
        </div>
        <div class="cultureCard">
            <div class="cardContent" >
                    <div class="contentText1" data-id="fcd102e" data-element_type="widget" data-widget_type="text-editor.default">
                            <h3 class="contentTextH">목표와 방향을 생각하며 나아가요.</h3>
                        <p class="contentTextP">“혁신적으로” 일의 목적을 충분히 생각하는 것으로부터 <br>
                            우리의 아이디어는 시작되고,높은 목표는 혁신적인 방향을
                            만들어 낼 수 있다고 믿어요.<br> 그 과정에서 우리가 더 잘할 수
                            있는 것이 무엇인지 항상 고민해요.</p>
                    </div>
            </div>
            <div class="cardContent">
                <div class="contentImg" data-id="fbc8225" data-element_type="widget" data-widget_type="image.default">
                    <img decoding="async" width="516" height="320" th:src="@{/images/06_bb.png}" class="attachment-full size-full wp-image-4728" alt="" >
                </div>
            </div>
        </div>
        <div class="cultureCard">
            <div class="cardContent">
                    <div class="contentImg" data-id="fbc8225" data-element_type="widget" data-widget_type="image.default">
                            <img decoding="async" width="516" height="320" th:src="@{/images/06_bb.png}" class="attachment-full size-full wp-image-4728" alt="" >
                    </div>
            </div>
            <div class="cardContent" >
                    <div class="contentText1" data-id="fcd102e" data-element_type="widget" data-widget_type="text-editor.default">
                            <h3 class="contentTextH">함께하면 할 수 있다고 믿어요. </h3>
                        <p class="contentTextP">“원팀으로” 롯데ON의 뛰어난 동료들과 서로 의지하며<br>
                            여러 팀이 함께 집중해서 시너지를 만들어내요.<br>
                            서비스를 더 좋은 방향으로 만들어가기 위해<br>
                            소통과 협업을 중요하게 생각해요.</p>
                    </div>
            </div>
        </div>
        <div class="cultureCard">
            <div class="cardContent" >
                    <div class="contentText1" data-id="fcd102e" data-element_type="widget" data-widget_type="text-editor.default">
                            <h3 class="contentTextH">스스로 책임지고 자율적으로 일해요</h3>
                        <p class="contentTextP">“어른답게” 서로를 어른으로 대하고&nbsp;배려하는 것이 중요해요.<br>스스로 판단하고 자율적으로 행동할 수 있기 때문에&nbsp;<br>더 높은 효율을 만들어나가며 일을 할 수 있어요.</p>
                    </div>
            </div>
            <div class="cardContent">
                <div class="contentImg" data-id="fbc8225" data-element_type="widget" data-widget_type="image.default">
                    <img decoding="async" width="516" height="320" th:src="@{/images/07_cc.webp}" class="attachment-full size-full wp-image-4728" alt="" >
                </div>
            </div>
        </div>
        <div>
            <img th:src="@{/images/culture.png}">
        </div>

    </section>
</main>