<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/companyLayout}">
    <main id="media" layout:fragment="content">
        <div class="cover">
            <div>
                <h1>홍보채널</h1>
                <p>
                    미디어 속 LotteON의 영상을<br>
                    소개해드립니다.
                </p>
            </div>
        </div>
        <section class="content">


            <article>
                <iframe width="720" height="400" src="https://www.youtube.com/embed/Q4_2Vkj32X4?si=mW7EGB5HqBHzaM7j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>24년 첫 번째 롯데ON세상
                    롯데월드타워에 빨간 불이 켜지면 선착순 무적쿠폰이 찾아온다!</h3>
                <p>롯데온 (LOTTE ON) | 2024. 4. 15</p>
            </article>

            <article>
                <iframe width="720" height="400" src="https://www.youtube.com/embed/HLlLVVYkTMg?si=9FMWtASKHZnaHNo9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>[롯데ON X 이효리] Shopping Fantasy ON Making Film(Part.2)</h3>
                <p>롯데온 (LOTTE ON) | 2023. 11. 27</p>
            </article>

            <article>
                <iframe width="720" height="400" src="https://www.youtube.com/embed/TZu0OL9UcWc?si=9WkXSNhO0YPiPT3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>전 국민 여러분을 혜택, 행운 가득 롯키데이로 초대합니다💌</h3>
                <p>롯데온 (LOTTE ON) | 2023. 4. 13</p>
            </article>

            <article>
                <iframe width="720" height="400" src="https://www.youtube.com/embed/FJIWL9Nur-s?si=N04su2VSQJ_1skJt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>[롯데온] 3월 브랜드픽_MAC 스프링 콜렉션 행복 리뷰~!!</h3>
                <p>롯데온 (LOTTE ON) | 2023. 3. 6</p>
            </article>

        </section>
    </main>