<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteON Inc. 상상하는 모든것</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/company.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script th:src="@{/company/js/header.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // 로그인 상태 확인
        const isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];
    </script>
<!--
    <script th:src="@{/js/sseSeller.js}"></script>
-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="wrapper">
    <header>
        <div>
            <a th:href="@{/}"><img th:src="@{/images/header_logo.png}" width="200" alt="로고"></a>
            <ul>
                <li><a th:href="@{/company/index}">HOME</a></li>
                <li><a th:href="@{/company/culture}">기업문화</a></li>
                <li><a th:href="@{/company/story(pg=1, cate2='all')}">소식과 이야기</a></li>
                <li><a th:href="@{/company/recruit}">채용</a></li>
                <li><a th:href="@{/company/media}">미디어</a></li>

            </ul>
        </div>
    </header>
    <main layout:fragment="content">

    </main>
    <footer>
        <div>
            <img th:src="@{/images/footer_logo.png}" alt="로고">
            <p>
                대표자 : 홍길동 사업자등록번호 : 123-45-67890 부산광역시 강남구 테헤란로 123 통신판매업 신고번호 : 제2021-부산강남-12345호<br>
                개인정보보호책임자 : 김춘추 FAX : 02-1234-5678 help@LotteON.com
            </p>
        </div>
    </footer>
</div>
</body>
</html>