<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">

</script>
<head>
    <meta charset="UTF-8">
    <title>롯데ON::대한민국 1등 온라인 쇼핑몰</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" th:href="@{/css/my_star-rating-svg.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery.star-rating-svg.min.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <script th:src="@{/js/myInfo.js}"></script>
    <script th:src="@{/js/changeInfo.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // 로그인 상태 확인
        const isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];
    </script>
<!--
    <script th:src="@{/js/sseSeller.js}"></script>

-->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 검색 양식 선택
            var searchForm = document.querySelector('form');
            // 검색 양식 제출 이벤트
            searchForm.addEventListener('submit', function(event) {
                // 입력된 검색어 확인
                var searchKeyword = searchForm.elements['searchKeyword'].value.trim();
                // 검색어가 비어 있는 경우
                if (searchKeyword === '') {
                    // 경고창 표시
                    alert('검색어를 입력하세요.');
                    // 이벤트 기본 동작(페이지 이동) 중단
                    event.preventDefault();
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            // 검색어 입력 필드 선택
            var searchKeywordInput = document.querySelector('input[name="searchKeyword"]');

            // 입력 필드의 입력 이벤트 감지
            searchKeywordInput.addEventListener('input', function () {
                const value = this.value;
                // 입력된 값이 10글자를 초과하는 경우 잘라내기
                if (value.length > 10) {
                    this.value = value.slice(0, 10);
                    // 사용자에게 경고 메시지 표시 (선택사항)
                    alert('검색어는 10글자 이하로 입력하세요.');
                }
            });
        });
    </script>

</head>
<body>

<div id="wrapper">
    <header>
        <div class="top">
            <div>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <span>[[${#authentication.principal.member.name}]]님 </span>
                    <a sec:authorize="hasRole('ROLE_6')" th:href="@{/admin}">관리자</a>
                    <a sec:authorize="hasRole('ROLE_7')" th:href="@{/admin}">관리자</a>
                    <a sec:authorize="hasRole('ROLE_5')" th:href="@{/seller}">판매자</a>
                    <a th:href="@{/member/logout}">로그아웃</a>
                    <a th:href="@{/my/home(uid=${#authentication.principal.member.uid})}">마이페이지</a>
                    <a th:href="@{/product/cart(uid=${#authentication.principal.member.uid})}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
                    </a>
                    <a th:href="@{/my/wish}">
                        나의 찜
                    </a>
                </th:block>
            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/index}"><img th:src="@{/images/header_logo.png}" alt="로고" /></a>
                <form th:action="@{/product/search}" method="get">
                    <input type="hidden" name="sort" value="prodNo">
                    <input type="hidden" name="how" value="DESC">
                    <input type="text" name="searchKeyword" placeholder="검색" />
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>
    <nav class="nav">
        <div>
            <a th:href="@{/my/home(uid=${#authentication.principal.member.uid})}"><img th:src="@{/my/images/my_logo.jpg}" alt="나의쇼핑정보"></a>
            <ol>
                <!--                등급 구간 및 등급별 혜택 안내페이지로 이동하도록 변경 예정-->
                <li>
                    <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}">나의등급
                        <span th:if="${#authentication.principal.member.level}==1" class="level">
                        <img class="levelImg" th:src="@{/my/images/ACE.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                        <span th:if="${#authentication.principal.member.level}==2" class="level">
                        <img class="levelImg" th:src="@{/my/images/GOLD.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                        <span th:if="${#authentication.principal.member.level}==3" class="level">
                        <img class="levelImg" th:src="@{/my/images/VIP.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                        <span th:if="${#authentication.principal.member.level}==4" class="level">
                        <img class="levelImg" th:src="@{/my/images/MVG.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                    </a>
                </li>

                <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">주문·배송<span class="delivery" id="orderCount"></span></a></li>
                <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">할인쿠폰<span class="coupon" id="couponCount"></span></a></li>
                <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트<span class="point" id="myPoint"></span></a></li>
                <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의내역<span class="qna" id="qnaCount"></span></a></li>
            </ol>
        </div>
    </nav>


    <main layout:fragment="content">
        <!-- 내용 -->
    </main>

    <footer>
        <ul>
            <li><a th:href="@{/company}">회사소개</a></li>
            <li><a th:href="@{/policy/terms(termsType=buyer)}">서비스이용약관</a></li>
            <li><a th:href="@{/policy/terms(termsType=privacy)}">개인정보처리방침</a></li>
            <li><a th:href="@{/policy/terms(termsType=finance)}">전자금융거래약관</a></li>
        </ul>
        <div>
            <p><img th:src="@{/images/footer_logo.png}" alt="로고" /></p>
            <p>
                <strong>(주)롯데ON</strong><br />
                서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br />
                대표이사 : 김사무엘상현, 정준호, 강성현<br />
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br />
                통신판매업 신고 : 서울송파 제0158호<br>
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
            </p>
            <p>
                <strong>고객센터</strong><br />
                Tel : 1899-7000(유료) (평일 09:00~18:00)<br />
                Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br />
            </p>
            <p>
                <strong>[[${appInfo.name}]]-[[${appInfo.version}]]</strong>
            </p>
        </div>
    </footer>







    <!-- 상품평쓰기 팝업 -->
    <div id="popReview" class="popup">
        <div>
            <nav>
                <h1>상품평 작성하기</h1>
                <button class="btnClose">X</button>
            </nav>
            <section>
                <form action="#">
                    <table border="0">
                        <tr>
                            <th>상품명</th>
                            <td class="productName">상품명 출력</td>
                        </tr>
                        <tr>
                            <th>만족도</th>
                            <td class="rating">
                                <div class="my-rating"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td class="review">
                                <textarea name="review" placeholder="내용입력"></textarea>
                            </td>
                        </tr>
                    </table>
                    <p>
                        ※ 상품평을 작성하시면 구매확정 포인트와 더불어 추가 포인트를 지급합니다.
                    </p>

                    <div>
                        <input type="submit" class="btnPositive" value="작성완료"/>
                        <button class="btnNegative btnCancel">취소</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <!-- 상품평쓰기 팝업 끝 -->

</div>

</body>
</html>