<html id="policy" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약관</title>
    <link rel="stylesheet" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/policy.css}" />
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/20962f3e4b.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            let termsType = "[[${termsType}]]"; // 변수 정의와 초기화
            console.log(termsType);

            let data;
            let title;
            switch (termsType) {
                case 'buyer':
                    data = `[[${terms.terms}]]`;
                    title = '구매회원 이용약관';
                    break;
                case 'privacy':
                    document.querySelectorAll("li[id^='terms']").forEach(element => element.classList.remove('on'));
                    document.getElementById('terms5').classList.add('on');
                    data = `[[${terms.privacy}]]`;
                    title = '개인정보수집 이용약관';
                    break;
                case 'finance':
                    document.querySelectorAll("li[id^='terms']").forEach(element => element.classList.remove('on'));
                    document.getElementById('terms3').classList.add('on');
                    data = `[[${terms.finance}]]`;
                    title = '전자금융거래 이용약관';
                    break;
                default:
                    break;
            }
            document.querySelector('.termsContent').innerHTML = `<h2 class="termsTitle">${title}</h2>`;
            let termsList = data;
            let termsItems = termsList.split(/\n{3,}/);
            termsItems.forEach(function (termsItem) {
                let lines = termsItem.split('\n');
                let contents = lines.slice(1).join('<br>');
                let termsElement = document.createElement('p');
                termsElement.classList.add('termsElement');
                let tit = document.createElement('span');
                tit.classList.add('tit');
                tit.textContent = lines[0];
                let content = document.createElement('span');
                content.classList.add('content');
                content.innerHTML = contents;
                termsElement.appendChild(tit);
                termsElement.appendChild(content);
                document.querySelector('.termsContent').appendChild(termsElement);
            });

            document.querySelectorAll("li[id^='terms']").forEach(function (element) {
                element.addEventListener('click', function () {
                    // 클래스 'on' 설정 및 클릭된 ID 가져오기
                    document.querySelectorAll("li[id^='terms']").forEach(element => element.classList.remove('on'));
                    this.classList.add('on');
                    let clickedId = this.id;

                    let data;
                    let title;
                    switch (clickedId) {
                        case 'terms1':
                            data = `[[${terms.terms}]]`;
                            title = '구매회원 이용약관';
                            break;
                        case 'terms2':
                            data = `[[${terms.tax}]]`;
                            title = '판매회원 이용약관';
                            break;
                        case 'terms3':
                            data = `[[${terms.finance}]]`;
                            title = '전자금융거래 이용약관';
                            break;
                        case 'terms4':
                            data = `[[${terms.location}]]`;
                            title = '위치정보이용 이용약관';
                            break;
                        case 'terms5':
                            data = `[[${terms.privacy}]]`;
                            title = '개인정보수집 이용약관';
                            break;
                        default:
                            break;
                    }

                    document.querySelector('.termsContent').innerHTML = `<h2 class="termsTitle">${title}</h2>`;
                    let termsList = data;
                    let termsItems = termsList.split(/\n{3,}/);
                    termsItems.forEach(function (termsItem) {
                        let lines = termsItem.split('\n');
                        let contents = lines.slice(1).join('<br>');
                        let termsElement = document.createElement('p');
                        termsElement.classList.add('termsElement');
                        let tit = document.createElement('span');
                        tit.classList.add('tit');
                        tit.textContent = lines[0];
                        let content = document.createElement('span');
                        content.classList.add('content');
                        content.innerHTML = contents;
                        termsElement.appendChild(tit);
                        termsElement.appendChild(content);
                        document.querySelector('.termsContent').appendChild(termsElement);
                    });
                });
            });
        });
    </script>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="top">
            <div>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <span>[[${#authentication.principal.member.name}]]님</span>
                    <a th:href="@{/member/logout}">로그아웃</a>
                    <a th:href="@{/my/home(uid=${#authentication.principal.member.uid})}">마이페이지</a>

                    <a th:href="@{/product/cart(uid=${#authentication.principal.member.uid})}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
                    </a>
                    <a th:href="@{/my/wish}">
                        나의 찜
                    </a>
                </th:block>
            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/index}"><img th:src="@{/images/header_logo.png}" alt="로고" /></a>
                <form action="#">
                    <input type="text" name="search"/>
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a th:href="@{/product}">히트상품</a></li>
                    <li><a th:href="@{/product}">추천상품</a></li>
                    <li><a th:href="@{/product}">최신상품</a></li>
                    <li><a th:href="@{/product}">인기상품</a></li>
                    <li><a th:href="@{/product}">할인상품</a></li>
                </ul>
                <ul>
                    <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
                    <li><a th:href="@{/cs/faq/list}">자주묻는질문</a></li>
                    <li><a th:href="@{/cs/qna/list}">문의하기</a></li>
                    <li><a th:href="@{/cs/index}">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div layout:fragment="content">
        <!-- 내용 -->
    </div>
    <footer>
        <ul>
            <li><a th:href="@{/company}">회사소개</a></li>
            <li><a th:href="@{/policy/terms(termsType=buyer)}">서비스이용약관</a></li>
            <li><a th:href="@{/policy/terms(termsType=privacy)}">개인정보처리방침</a></li>
            <li><a th:href="@{/policy/terms(termsType=finance)}">전자금융거래약관</a></li>
        </ul>
        <div>
            <p><img th:src="@{/images/footer_logo.png}" alt="로고" /></p>
            <p>
                <strong>(주)롯데ON</strong><br />
                서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br />
                대표이사 : 김사무엘상현, 정준호, 강성현<br />
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br />
                통신판매업 신고 : 서울송파 제0158호<br>
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
            </p>
            <p>
                <strong>고객센터</strong><br />
                Tel : 1899-7000(유료) (평일 09:00~18:00)<br />
                Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br />
            </p>
        </div>
    </footer>
</div>
</body>

</html>