<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>롯데ON::3조</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script th:src="@{/product/js/util.js}"></script>
    <script th:src="@{/js/myInfo.js}"></script>
    <script th:src="@{/js/changeInfo.js}"></script>
    <link rel="stylesheet" th:href="@{/css/wish.css}">
<script>
    // 최상단 이동 (topButton) 함수 //
    function movePageTop() {
        window.scrollTo(0, 0);
    }
</script>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="top">
            <div>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <span>[[${#authentication.principal.member.name}]]님 </span>
                    <a sec:authorize="hasRole('ROLE_6')" th:href="@{/admin}">관리자</a>
                    <a sec:authorize="hasRole('ROLE_7')" th:href="@{/admin}">관리자</a>
                    <a sec:authorize="hasRole('ROLE_5')" th:href="@{/seller}">판매자</a>
                    <a th:href="@{/member/logout}">로그아웃</a>
                    <a th:href="@{/my/home(uid=${#authentication.principal.member.uid})}">마이페이지</a>
                    <a th:href="@{/product/cart(uid=${#authentication.principal.member.uid})}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
                    </a>
                    <a th:href="@{/my/wish}">
                        나의 찜
                    </a>
                </th:block>
            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/}"><img th:src="@{/images/header_logo.png}" alt="로고" /></a>
                <form th:action="@{#}">
                    <input type="text" name="search"/>
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>

        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a th:href="@{/product/list}">히트상품</a></li>
                    <li><a th:href="@{/product/list}">추천상품</a></li>
                    <li><a th:href="@{/product/list}">최신상품</a></li>
                    <li><a th:href="@{/product/list}">인기상품</a></li>
                    <li><a th:href="@{/product/list}">할인상품</a></li>
                </ul>
                <ul>
                    <li><a th:href="@{/cs/notice/list(group='notice', cate='null')}">공지사항</a></li>
                    <li><a th:href="@{/cs/faq/list(group='faq' ,cate='member')}">자주묻는질문</a></li>
                    <li><a th:href="@{/cs/qna/list(group='qna', cate='member')}">문의하기</a></li>
                    <li><a th:href="@{/cs/index}">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav class="nav">
        <div>
            <a th:href="@{/my/home(uid=${#authentication.principal.member.uid})}"><img th:src="@{/my/images/my_logo.jpg}" alt="나의쇼핑정보"></a>
            <ol>
                <!--                등급 구간 및 등급별 혜택 안내페이지로 이동하도록 변경 예정-->
                <li>
                    <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}">나의등급
                        <span th:if="${#authentication.principal.member.level}==1" class="level">
                        <img class="levelImg" th:src="@{/my/images/ACE.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                        <span th:if="${#authentication.principal.member.level}==2" class="level">
                        <img class="levelImg" th:src="@{/my/images/GOLD.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                        <span th:if="${#authentication.principal.member.level}==3" class="level">
                        <img class="levelImg" th:src="@{/my/images/VIP.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                        <span th:if="${#authentication.principal.member.level}==4" class="level">
                        <img class="levelImg" th:src="@{/my/images/MVG.png}" width="30px" height="30px"><span>[[${#authentication.principal.member.level}]]</span>
                    </span>
                    </a>
                </li>

                <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">주문·배송<span class="delivery" id="orderCount"></span></a></li>
                <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">할인쿠폰<span class="coupon" id="couponCount"></span></a></li>
                <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트<span class="point" id="myPoint"></span></a></li>
                <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의내역<span class="qna" id="qnaCount"></span></a></li>
            </ol>
        </div>
    </nav>
    <main id="product">
        <aside id="myAside">
            <ul>
                <span class="menu_else"></span>
                <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                <!--<li><a href="./favorite.html">관심상품</a></li>-->
                <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트내역</a></li>
                <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의하기</a></li>
                <li><a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}">나의설정</a></li>
                <li class="on"><a th:href="@{/my/wish}">나의찜</a></li>
            </ul>
        </aside>

        <section layout:fragment="content">
            <!-- 내용 -->
        </section>
        </main>
        <footer>
            <ul>
                <li><a th:href="@{company/index}">회사소개</a></li>
                <li><a th:href="@{policy/seller}">서비스이용약관</a></li>
                <li><a th:href="@{policy/privacy}">개인정보처리방침</a></li>
                <li><a th:href="@{policy/finance}">전자금융거래약관</a></li>
            </ul>
            <div>
                <p><img src="../images/footer_logo.png" alt="로고" /></p>
                <p>
                    <strong>(주)롯데ON</strong><br />
                    서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br />
                    대표이사 : 김사무엘상현, 정준호, 강성현<br />
                    사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br />
                    통신판매업 신고 : 서울송파 제0158호<br>
                    호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
                </p>
                <p>
                    <strong>고객센터</strong><br />
                    Tel : 1899-7000(유료) (평일 09:00~18:00)<br />
                    Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br />
                </p>
                <p>
                    <strong>[[${appInfo.name}]]-[[${appInfo.version}]]</strong>
                </p>
            </div>
        </footer>
    <button type="button" id="top" onclick="movePageTop()">상단이동</button>
</div>
</body>

</html>
