<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">
<main id="myLayout" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/changeInfo.js}"></script>
    <script th:src="@{/js/myInfo.js}"></script>
        <div id="my">
            <div class="info">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                    <!--<li><a href="./favorite.html">관심상품</a></li>-->
                    <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                    <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의내역</a></li>
                    <li class="on"><a th:href="@{/my/info(uid=${#authentication.principal.member.uid})}">나의설정</a></li>
                    <li><a th:href="@{/my/wish}">나의찜</a></li>
                </ul>

                <section>
                    <div id="bannerTop" class="on" th:style="${banners.size() > 0 ? 'background: ' + banners[0].backcolor + ';' : ''}">
                        <!-- 배너 영역 -->
                        <th:block th:each="banner : ${banners}">
                            <a th:href="@{${banner.link}}">
                                <img th:src="@{'/prodImg/'+ ${banner.thumb}}" alt="t1" />
                            </a>
                        </th:block>
                    </div>

                    <article>
                        <h3>회원정보 설정</h3>
                        <form method="POST" name="changeForm" class="changeForm">
                        <table border="0">
                            <tr>
                                <td>사용자 ID</td>
                                <!-- 아이디 뒤 네자리 마스킹 처리 -->
                                <td th:text="${memberDTO.uid}"></td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td>
                                    <button id="btnPassChange">비밀번호 변경</button>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td th:text="${memberDTO.name}"></td>

                            </tr>
                            <!-- 추가 -->
                            <tr>
                                <td>닉네임</td>
                                <td id="newNick">
                                    <input type="text" name="nick" id="nick" th:value="${memberDTO.nick}">
                                    <button type="button" id="btnNickChange" data-type="nick">닉네임 변경</button>
                                    <span id="result_nick"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>가입날짜</td>
                                <td th:text="${#temporals.format(memberDTO.rdate, 'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>
                                    <button id="btnEmailChange">이메일 변경</button>
                                </td>

                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <span class="hp">
                                        <input type="text" name="hp" id="hp" size="50" data-type="hp" th:value="${memberDTO.hp}" />
                                        <button type="button" id="btnHpChange" data-type="hp">휴대폰 변경</button>
                                        <span class="msgHp"> - 포함 13자리를 입력하세요.</span>
                                    </span>
                                    <div id="result_hp"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <input type="text" name="zip" id="findZip" th:value="${memberDTO.zip}"/>
                                    <button type="button" id="btnAddrChange">주소 변경</button>
                                    <p class="address">
                                        <input type="text" name="addr1" id="inputAddr1" size="50" th:value="${memberDTO.addr1}"/>
                                        <input type="text" name="addr2" id="inputAddr2" size="50" th:value="${memberDTO.addr2}"/>

                                    </p>
                                </td>
                            </tr>
                        </table>
                        </form>
                        <div>
                            <button id="btnWithdraw">탈퇴하기</button>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    <!-- info - 비밀번호 변경 팝업 -->
    <div id="popPassChange" class="popup">
        <div>
            <nav>
                <h1>비밀번호 변경</h1>
                <button class="btnClose">X</button>
            </nav>
            <section>
                <table>
                    <input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}"/>
                    <tr>
                        <th>새 비밀번호</th>
                        <td>
                            <input type="password" name="pass1" placeholder="새 비밀번호 입력"/>
                            <span class="msgPass1"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>새 비밀번호 확인</th>
                        <td>
                            <input type="password" name="pass2" placeholder="새 비밀번호 입력 확인"/>
                            <span class="msgPass2"></span>
                            <span id="result_pass"></span>
                        </td>
                    </tr>
                </table>
                <p>
                    비밀번호를 변경해 주세요.<br>
                    영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.
                </p>
                <div>
                    <button class="btnComplete">완료</button>
                </div>
            </section>
        </div>
    </div>
    <!-- info - 비밀번호 변경 팝업 끝 -->

    <!-- info - 이메일 변경 팝업 -->
    <div id="popEmailChange" class="popup">
        <div>
            <nav>
                <h1>이메일 변경</h1>
                <button class="btnClose">X</button>
            </nav>
            <section>
                <table>
                    <input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}"/>
                    <tr>
                        <th>등록된 이메일</th>
                        <td>
                            <span class="originEmail" th:text="${#strings.substring(memberDTO.email, 0, memberDTO.email.indexOf('@') - 4) + '****' + memberDTO.email.substring(memberDTO.email.indexOf('@'))}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>등록된 이메일 입력</th>
                        <td>
                            <input type="email" name="checkOriginEmail" placeholder="등록된 이메일 입력"/>
                            <button class="btnCheckOriginEmail">확인</button>
                            <div><span id="checkOriginEmail_result"></span></div>
                        </td>
                    </tr>
                    <tr>
                        <th>변경할 이메일 입력</th>
                        <td>
                            <input type="email" name="changeEmail" placeholder="변경할 이메일 입력"/>
                            <button class="btnCheckChangeEmail" type="button" data-type="email">인증</button>
                            <div><span id="checkChangeEmail_result"></span></div>
                        </td>
                    </tr>
                    <tr>
                        <th>인증번호</th>
                        <td>
                            <input type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" disabled/>
                            <button type="button"  id="btnCheckEmailCode" data-type="email">
                                <span class="" role="status">인증번호 확인</span>
                            </button>
                            <div id="resultEmailCode"></div>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btnEmailComplete">완료</button>
                </div>
            </section>
        </div>
    </div>
    <!-- info - 이메일 변경 팝업 끝 -->

    <!-- info - 회원탈퇴 팝업 -->
    <div id="popWithdraw" class="popup">
        <div>
            <nav>
                <h1>회원 탈퇴</h1>
                <button class="btnClose">X</button>
            </nav>
            <section>
                <table>
                    <input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}"/>
                    <tr>
                        <th>비밀번호 입력</th>
                        <td>
                            <input type="password" name="passCheck" placeholder="비밀번호 입력"/>
                        </td>
                    </tr>
                </table>
                <p>
                    회원 탈퇴 후, 계정 복구는 불가합니다.
                </p>
                <div>
                    <button class="btnPopWithdraw">탈퇴하기</button>
                </div>
            </section>
        </div>
    </div>
    <!-- info - 회원탈퇴 팝업 끝 -->
</main>