<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/wishLayout}">
<!-- 장바구니 페이지 시작 -->

<section class="cart" layout:fragment="content">

    <script>
        window.onload = function () {
            // 숫자를 3자리마다 콤마를 추가하여 문자열로 반환하는 함수
            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            document.querySelectorAll('.price').forEach(priceTd => {
                const price = priceTd.innerText;
                const commasPrice = numberWithCommas(price);
                priceTd.innerText = commasPrice;
            });
        }
        let checkedTurn = 0;
        // 전체 선택 클릭
        function totalCheck() {
            const wishCheckBox = document.querySelectorAll('.wishCheck');
            // 체크한 경우
            if (checkedTurn === 0) {
                wishCheckBox.forEach(function (checkbox) {
                    checkbox.checked = true;
                });
                checkedTurn = 1;
                // 체크 해제한 경우
            } else {
                wishCheckBox.forEach(function (checkbox) {
                    checkbox.checked = false;
                });
                checkedTurn = 0;
            }
        }
        // 선택 삭제
        function deleteChecked(){
            if (confirm('선택한 상품을 삭제하시겠습니까?')) {
                const wishCheckBox = document.querySelectorAll('.wishCheck');
                // 삭제할 찜의 번호를 저장하는 배열
                let wishNoArray = [];

                // forEach로 순회하며 checked된 찜의 번호 찾기
                wishCheckBox.forEach(check => {

                    // check된 번호 배열에 저장
                    if (check.checked) {
                        wishNoArray.push(check.value);
                        console.log("!!! : "+ wishNoArray);
                    }
                })
                fetch("/lotteon/wish/delete", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(wishNoArray)
                })
                    .then(response => {
                        // 새로고침
                        if (response.ok == true) {
                            alert('삭제 완료되었습니다.');
                            setTimeout(function() {
                                location.reload();
                            }, 2000);
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        }
        // 개별 삭제
        function deleteWish(button){
            const wishNo = button.dataset.wish;
            if (confirm('상품을 삭제하시겠습니까?')) {
                fetch(`/lotteon/wish/delete/${wishNo}`)
                    .then(response => {
                        // 새로고침
                        if (response.ok == true) {
                            alert('삭제 완료되었습니다.');
                            setTimeout(function() {
                                location.reload();
                            }, 0);
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        }
        // 장바구니 클릭
        function goView(span) {
            const prodNo = span.dataset.prod;
            const cate1 = span.dataset.cate1;
            const cate2 = span.dataset.cate2;
            if (confirm(`상품 정보 확인 후 구매해주세요.
상품 상세 화면으로 이동합니다.`)) {
                location.href = `/lotteon/product/view?prodNo=${prodNo}&cate1=${cate1}&cate2=${cate2}`;
            }
        }
    </script>
    <form class="cartForm" action="#">
        <div class="itemController">
            <div class="checkboxController">
                <input id="checkboxController" type="checkbox" class="selectAll" onclick="totalCheck()">
                <label for="checkboxController" class="cur_hand">전체선택</label>
            </div>
            <div class="deleteBtnGroup">
                <button type="button" class="deleteCartItems" onclick="deleteChecked()">
                    <span>선택삭제</span>
                </button>
            </div>
        </div>

        <div class="tabContentArea"><h3 class="blind">전체</h3>
            <ul class="wishUl">
                <li class="wishLi" th:each="wish : ${pageResponseDTO.dtoList}">
                    <div class="infoProduct">
                        <input class="wishCheck" type="checkbox" name="wishNo" th:value="${wish.wishNo}">
                        <div data-pd-no="LO2242120513"
                             data-spd-nm="[메이블루] 라이브 방송 단독 혜택" data-price="33600" data-slot="1/2"
                             class="productItem large">
                            <div class="productThumb">
                                <a th:href="@{/product/view(prodNo=${wish.productDTO.prodNo},cate1=${wish.productDTO.cate1},cate2=${wish.productDTO.cate2})}" style="cursor: pointer;">
                                    <img th:src="@{'/prodImg/'+ ${wish.productDTO.thumb1}}" alt="[메이블루] 라이브 방송 단독 혜택 " class="loaded">
                                </a>
                            </div>
                            <div class="productData">
                                <a th:href="@{/product/view(prodNo=${wish.productDTO.prodNo},cate1=${wish.productDTO.cate1},cate2=${wish.productDTO.cate2})}" style="cursor: pointer;">
                                    <p class="productTitle">[[${wish.productDTO.prodName}]]</p>
                                </a>
                                <p class="productPrice">
                                    <span class="productSale">
                                        <span class="blind">할인률</span> [[${wish.productDTO.discount}]] %
                                    </span>
                                    <span class="productPrevPrice">
                                        <span class="del price"><span class="blind"></span> [[${wish.productDTO.price}]] 원</span>
                                    </span>
                                    <span class="productCurrentPrice">
                                        <strong class="price">
                                            <span class="blind price"></span> [[${wish.disPrice}]]</strong>원~
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="infoAction order-2">
                        <button type="button" title="[메이블루] 라이브 방송 단독 혜택 "
                                class="deleteItem" onclick="deleteWish(this)" th:data-wish="${wish.wishNo}"><span class="blind">삭제하기</span></button>
                    </div>
                    <button type="button" title="[메이블루] 라이브 방송 단독 혜택  장바구니 담기"
                            class="cartUnit ico_cart_border" >
                            <span class="icon" onclick="goView(this)" th:data-prod="${wish.productDTO.prodNo}" th:data-cate1="${wish.productDTO.cate1}"  th:data-cate2="${wish.productDTO.cate2}">
                                <span class="blind">장바구니</span>
                            </span>
                    </button>
                </li>
            </ul>
        </div>
    </form>
</section>
