<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/memberLayout}">
<main id="member" layout:fragment="content">
    <script th:src="@{/js/rememberId.js}"></script>
    <script th:inline="javascript">

        window.onload = function () {

            const success = [[${success}]];

            if (success == 100) {
                alert('로그인에 실패했습니다.\n다시 한번 아이디, 비밀번호를 확인 하시기 바랍니다. 😢');
            } else if (success == 200) {
                alert('회원 가입 되었습니다. 😊');
            } else if (success == 300) {
                alert('로그아웃 되었습니다. 안녕히 가세요. 😃');
            }

        }
    </script>

    <div class="login">
        <nav>
            <h1>로그인</h1>
        </nav>

        <form th:action="@{/member/login}" method="POST" class="login">

            <table border="0">
                <tr>
                    <td>아이디</td>
                    <td><input type="text" id="inputUid" name="uid" placeholder="아이디 입력"></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="password" id="inputPassword" name="pass" placeholder="비밀번호 입력"></td>
                </tr>
            </table>
            <input type="submit" value="로그인"/>
            <span>
                <label><input type="checkbox" id="checkId" name="checkId"/>아이디 저장</label>
                <label><input type="checkbox" id="rememberMe" name="rememberMe"/>자동 로그인</label>
                <a th:href="@{/member/findId}">아이디찾기</a>
                <a th:href="@{/member/findPass}">비밀번호찾기</a>
                <a th:href="@{/member/join}">회원가입</a>
            </span>

            <div class="social">
                <div class="socialLogin">간편 로그인</div>
                <a th:href="@{/oauth2/authorization/google}" class="google">
                    <img th:src="@{/member/images/web_light_rd_na.svg}" alt="로그인"/>
                    <span>구글</span>
                </a>
                <a th:href="@{/oauth2/authorization/kakao}" class="kakao">
                    <img th:src="@{/member/images/icon_easy_kakao.svg}" alt="로그인"/>
                    <span>카카오</span>
                </a>

                <a th:href="@{/oauth2/authorization/naver}" class="naver">
                    <img th:src="@{/member/images/icon_easy_naver.svg}" alt="로그인"/>
                    <span>네이버</span>
                </a>
            </div>

        </form>
    </div>
</main>
