<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">
<section id="admin-config-banner" layout:fragment="content">
    <script>
        // 배너 등록 폼 공개
        function addBanner() {
            const bannerPop = document.getElementById('bannerRegister');
            bannerPop.classList.add('on');
        }

        // 이미지 파일만 올릴 수 있게 Check
        function chkImg(obj) {
            const file_kind = obj.value.lastIndexOf('.');
            const file_name = obj.value.substring(file_kind + 1, obj.length);
            const file_type = file_name.toLowerCase();

            const chkImg = ['jpg', 'gif', 'png', 'jpeg', 'bmp'];

            // 이미지 파일이 아닌 경우
            if (chkImg.indexOf(file_type) == -1) {
                alert('이미지 파일만 선택할 수 있습니다.');
                const parent_Obj = obj.parentNode
                const node = parent_Obj.replaceChild(obj.cloneNode(true), obj);

                // input 태그 비우기
                const inputFile = document.getElementById("file").select();
                inputFile.value = "";
                return false;
            }
            findImgColor(obj);
        }

        // 배너 위치 선택하면 사이즈 크기 알려주기
        function infoSize(cate) {
            const infoSize = document.getElementById('infoSize');
            let infoP = "";
            switch (cate) {
                case "main-top" :
                    infoP = "<strong>Tip!</strong> 메인 - 상단 이미지 사이즈는 1200 * 80 입니다.";
                    break;
                case "main-slider" :
                    infoP = "<strong>Tip!</strong> 메인 - 슬라이더 이미지 사이즈는 985 * 447 입니다.";
                    break;
                case "product" :
                    infoP = "<strong>Tip!</strong> 상품 - 상세보기 이미지 사이즈는 456 * 60 입니다.";
                    break;
                case "login" :
                    infoP = "<strong>Tip!</strong> 회원 - 로그인 이미지 사이즈는 425 * 260 입니다.";
                    break;
                case "myPage" :
                    infoP = "<strong>Tip!</strong> 마이페이지 이미지 사이즈는 810 * 86 입니다.";
                    break;
            }
            infoSize.innerHTML = infoP;
        }

        // 이미지 크게보기
        function bigImg(src) {
            const modal = document.querySelector(".modal");
            const modal_img = document.querySelector(".modal_content");
            const span = document.querySelector(".close");

            modal_img.src = src;
            modal.style.display = "block";
        }

        // 이미지 크게보기 끄기
        function closeBigImg() {
            const modal = document.querySelector(".modal");
            const modal_img = document.querySelector(".modal_content");
            modal_img.src = "";
            modal.style.display = "none";
        }

        let checkedTurn = 0;
        // 전체 선택 클릭
        function totalCheck() {
            const bannerCheckBox = document.querySelectorAll('.bannerCheckBox');
            // 체크한 경우
            if (checkedTurn === 0) {
                bannerCheckBox.forEach(function (checkbox) {
                    checkbox.checked = true;
                });
                checkedTurn = 1;
                // 체크 해제한 경우
            } else {
                bannerCheckBox.forEach(function (checkbox) {
                    checkbox.checked = false;
                });
                checkedTurn = 0;
            }
        }

        // 배너 삭제
        function bannerDelete() {
            if (confirm('선택한 배너를 삭제하세겠습니까?')) {
                const bannerCheckBox = document.querySelectorAll('.bannerCheckBox');
                // 삭제할 배너의 번호를 저장하는 배열
                let bnoArray = [];

                // forEach로 순회하며 checked된 배너의 번호 찾기
                bannerCheckBox.forEach(check => {
                    // check된 배너 번호 배열에 저장
                    if (check.checked) {
                        bnoArray.push(check.value);
                    }
                })
                fetch("/lotteon/admin/banner/delete", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({bnoArray: bnoArray})
                })
                    .then(response => {
                        // 새로고침
                        if (response.ok == true) {
                            location.reload();
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        }
        // 활성화 관리
        async function changeAct(button){
            const bno = button.dataset.bno;

            const data = await fetchGet(`/lotteon/admin/banner/change/${bno}`);
            console.log("changeAct : "+ data.activation);
            if(data.activation == 0){
                button.innerText = "활성화";
                button.classList.remove('btnBannerInact');
            } else if(data.activation == 1){
                button.innerText = "비활성화";
                button.classList.add('btnBannerInact');
            }
        }
        // 이미지 파일을 읽어서 가장 많은 색상을 추출하는 함수
        function extractOuterColor(imageUrl, callback) {
            const img = new Image();

            // 이미지 CORS 문제 해결
            img.crossOrigin = "Anonymous";
            /*
            이미지를 가져오는 사이트가 이미지 소유자의 사이트와 다를 경우, CORS 정책으로 인해 이미지를 로드하는 데 문제가 발생
            */

            // 이미지 불러와서 분석
            img.onload = function() {
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');
                canvas.width = img.width;
                canvas.height = img.height;
                ctx.drawImage(img, 0, 0);

                // 이미지의 주변 10px 픽셀을 분석
                const borderSize = 10;
                // 이미지 색상 배열들
                const topColors = [];
                const bottomColors = [];
                const leftColors = [];
                const rightColors = [];

                // 윗 부분
                for (let  x = 0; x < canvas.width; x++) {
                    for (let  y = 0; y < borderSize; y++) {
                        const pixelData = ctx.getImageData(x, y, 1, 1).data;
                        // RGB -> HEX(#000000 형식)
                        const color = rgbToHex(pixelData[0], pixelData[1], pixelData[2]);
                        // 이미지 색상 배열에 삽입
                        topColors.push(color);
                    }
                }

                // 아랫 부분
                for (let  x = 0; x < canvas.width; x++) {
                    for (let  y = canvas.height - borderSize; y < canvas.height; y++) {
                        const pixelData = ctx.getImageData(x, y, 1, 1).data;
                        const color = rgbToHex(pixelData[0], pixelData[1], pixelData[2]);
                        bottomColors.push(color);
                    }
                }

                // 왼쪽 부분
                for (let  y = 0; y < canvas.height; y++) {
                    for (let  x = 0; x < borderSize; x++) {
                        const pixelData = ctx.getImageData(x, y, 1, 1).data;
                        const color = rgbToHex(pixelData[0], pixelData[1], pixelData[2]);
                        leftColors.push(color);
                    }
                }

                // 오른쪽 부분
                for (let  y = 0; y < canvas.height; y++) {
                    for (let  x = canvas.width - borderSize; x < canvas.width; x++) {
                        const pixelData = ctx.getImageData(x, y, 1, 1).data;
                        const color = rgbToHex(pixelData[0], pixelData[1], pixelData[2]);
                        rightColors.push(color);
                    }
                }

                // 각 측면의 색상 배열을 합쳐서 빈도를 계산
                const allColors = topColors.concat(bottomColors, leftColors, rightColors);
                const colorCounts = {};
                let maxColor = '';
                let maxCount = 0;

                for (let i = 0; i < allColors.length; i++) {
                    const color = allColors[i];
                    // 각 색상이 나타난 횟수 ++
                    colorCounts[color] = (colorCounts[color] || 0) + 1;

                    // 최대 등장 횟수와 비교 후 저장
                    if (colorCounts[color] > maxCount) {
                        maxColor = color;
                        maxCount = colorCounts[color];
                    }
                }
                callback(maxColor);
            };
            img.src = imageUrl;
        }

        // RGB 값을 HEX(#000000 형식)으로 변환하는 함수
        function rgbToHex(r, g, b) {
            return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
        }
        // RGB 값을 HEX(#000000 형식)으로 변환하는 함수 2
        function componentToHex(c) {
            const hex = c.toString(16);
            return hex.length == 1 ? "0" + hex : hex;
        }

        // 이미지 파일이 변경될 때 실행되는 함수
        function findImgColor(input) {
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function(event) {
                const imageUrl = event.target.result;

                // 최다 색상 값 구하기
                extractOuterColor(imageUrl, function(outerColor) {
                    // outerColor : extractOuterColor() 에서 콜백된 maxColor
                    document.getElementById('backcolorInput').value = outerColor;
                });
            };

            reader.readAsDataURL(file);
        }
    </script>
    <nav>
        <h3>배너관리</h3>
        <p>
            HOME > 환경설정 > <strong>배너관리</strong>
        </p>
    </nav>

    <article id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
        <ul id="tabUl" role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
            <!-- 해당 li 클래스에 ui-state-active ui-tabs-active -->
            <li id="tabLi1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ">
                <a href="#tabs1" class="ui-tabs-anchor">메인 상단 배너</a></li>
            <li id="tabLi2" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tabs2" class="ui-tabs-anchor">메인 슬라이더 배너</a></li>
            <li id="tabLi3" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tabs3" class="ui-tabs-anchor">상품 상세보기 배너</a>
            </li>
            <li id="tabLi4" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tabs4" class="ui-tabs-anchor">회원 로그인 배너</a>
            </li>
            <li id="tabLi5" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="#tabs5" class="ui-tabs-anchor">마이페이지 배너</a>
            </li>
        </ul>
        <!-- 메인 상단 배너 -->
        <section id="tabs1">
            <h4>메인 상단배너</h4>
            <p>
                쇼핑몰 메인 상단에 출력되는 배너입니다.
            </p>
            <table>
                <tr>
                    <th><input type="checkbox" name="all" onclick="totalCheck()"/></th>
                    <th>배너번호</th>
                    <th>이미지</th>
                    <th>배너이름</th>
                    <th>배너링크</th>
                    <th>배너위치</th>
                    <th>시작날짜</th>
                    <th>종료날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>관리</th>
                </tr>

                <tr th:each="banner : ${mtBanner}">
                    <td><input type="checkbox" th:value="${banner.bno}" name="배너번호" class="bannerCheckBox"/></td>
                    <td>[[${banner.bno}]]</td>
                    <td>
                        <img th:src="@{'/prodImg/'+${banner.thumb}}"
                             class="bannerImg"
                             onclick="bigImg(this.src)"
                             style="width: 60px; height: auto;">
                    </td>
                    <td>
                        [[${banner.bnName}]]
                    </td>
                    <td>
                        <a th:href="${banner.link}" th:text="${banner.link}"></a>
                    </td>
                    <td>
                        <span th:switch="${banner.cate}">
                            <span th:case="main-top">메인 상단</span>
                            <span th:case="main-slider">메인 슬라이더</span>
                            <span th:case="product">상품 상세보기</span>
                            <span th:case="login">회원 로그인</span>
                            <span th:case="myPage">마이페이지</span>
                        </span>
                    </td>
                    <td>[[${banner.beginDate}]]</td>
                    <td>[[${banner.endDate}]]</td>
                    <td>[[${banner.beginTime}]]</td>
                    <td>[[${banner.endTime}]]</td>
                    <!-- 활성화 버튼 : 1이 활성화 상태 -->
                    <td>
                        <button th:if="${banner.activation != 1}" class="btnChangeAct" onclick="changeAct(this)" th:data-bno="${banner.bno}">활성화</button>
                        <button th:if="${banner.activation == 1}" class="btnChangeAct btnBannerInact" onclick="changeAct(this)" th:data-bno="${banner.bno}">비활성화</button>
                    </td>
                </tr>
            </table>
            <input type="button" class="btnNegative" value="선택삭제" onclick="bannerDelete()"/>
            <a th:href="@{/admin/config/register}" class="btnPositive btnRegister">등록하기</a>
        </section>

        <!-- 메인 슬라이더 배너-->
        <section id="tabs2">
            <h4>메인 슬라이더배너</h4>
            <p>
                쇼핑몰 메인 슬라이더 영역에 노출되는 배너입니다.
            </p>
            <table>
                <tr>
                    <th><input type="checkbox" name="all" onclick="totalCheck()"/></th>
                    <th>배너번호</th>
                    <th>이미지</th>
                    <th>배너이름</th>
                    <th>배너링크</th>
                    <th>배너위치</th>
                    <th>시작날짜</th>
                    <th>종료날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>관리</th>
                </tr>

                <tr th:each="banner : ${msBanner}">
                    <td><input type="checkbox" th:value="${banner.bno}" name="배너번호" class="bannerCheckBox"/></td>
                    <td>[[${banner.bno}]]</td>
                    <td>
                        <img th:src="@{'/prodImg/'+${banner.thumb}}"
                             class="bannerImg"
                             onclick="bigImg(this.src)"
                             style="width: 60px; height: auto;">
                    </td>
                    <td>
                        [[${banner.bnName}]]
                    </td>
                    <td>
                        <a th:href="${banner.link}" th:text="${banner.link}"></a>
                    </td>
                    <td>
                        <span th:switch="${banner.cate}">
                            <span th:case="main-top">메인 상단</span>
                            <span th:case="main-slider">메인 슬라이더</span>
                            <span th:case="product">상품 상세보기</span>
                            <span th:case="login">회원 로그인</span>
                            <span th:case="myPage">마이페이지</span>
                        </span>
                    </td>
                    <td>[[${banner.beginDate}]]</td>
                    <td>[[${banner.endDate}]]</td>
                    <td>[[${banner.beginTime}]]</td>
                    <td>[[${banner.endTime}]]</td>
                    <!-- 활성화 버튼 : 1이 활성화 상태 -->
                    <td>
                        <button th:if="${banner.activation != 1}" class="btnChangeAct" onclick="changeAct(this)" th:data-bno="${banner.bno}">활성화</button>
                        <button th:if="${banner.activation == 1}" class="btnChangeAct btnBannerInact" onclick="changeAct(this)" th:data-bno="${banner.bno}">비활성화</button>
                    </td>
                </tr>
            </table>
            <input type="button" class="btnNegative" value="선택삭제" onclick="bannerDelete()"/>
            <input type="button" class="btnPositive btnRegister" value="등록하기" onclick="addBanner()"/>
        </section>

        <!-- 상품 상세보기 배너-->
        <section id="tabs3">
            <h4>메인 슬라이더배너</h4>
            <p>
                쇼핑몰 메인 슬라이더 영역에 노출되는 배너입니다.
            </p>
            <table>
                <tr>
                    <th><input type="checkbox" name="all" onclick="totalCheck()"/></th>
                    <th>배너번호</th>
                    <th>이미지</th>
                    <th>배너이름</th>
                    <th>배너링크</th>
                    <th>배너위치</th>
                    <th>시작날짜</th>
                    <th>종료날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>관리</th>
                </tr>

                <tr th:each="banner : ${pBanner}">
                    <td><input type="checkbox" th:value="${banner.bno}" name="배너번호" class="bannerCheckBox"/></td>
                    <td>[[${banner.bno}]]</td>
                    <td>
                        <img th:src="@{'/prodImg/'+${banner.thumb}}"
                             class="bannerImg"
                             onclick="bigImg(this.src)"
                             style="width: 60px; height: auto;">
                    </td>
                    <td>
                        [[${banner.bnName}]]
                    </td>
                    <td>
                        <a th:href="${banner.link}" th:text="${banner.link}"></a>
                    </td>
                    <td>
                        <span th:switch="${banner.cate}">
                            <span th:case="main-top">메인 상단</span>
                            <span th:case="main-slider">메인 슬라이더</span>
                            <span th:case="product">상품 상세보기</span>
                            <span th:case="login">회원 로그인</span>
                            <span th:case="myPage">마이페이지</span>
                        </span>
                    </td>
                    <td>[[${banner.beginDate}]]</td>
                    <td>[[${banner.endDate}]]</td>
                    <td>[[${banner.beginTime}]]</td>
                    <td>[[${banner.endTime}]]</td>
                    <!-- 활성화 버튼 : 1이 활성화 상태 -->
                    <td>
                        <button th:if="${banner.activation != 1}" class="btnChangeAct" onclick="changeAct(this)" th:data-bno="${banner.bno}">활성화</button>
                        <button th:if="${banner.activation == 1}" class="btnChangeAct btnBannerInact" onclick="changeAct(this)" th:data-bno="${banner.bno}">비활성화</button>
                    </td>
                </tr>
            </table>
            <input type="button" class="btnNegative" value="선택삭제" onclick="bannerDelete()"/>
            <input type="button" class="btnPositive btnRegister" value="등록하기" onclick="addBanner()"/>
        </section>

        <!-- 회원 로그인 배너-->
        <section id="tabs4">
            <h4>메인 슬라이더배너</h4>
            <p>
                쇼핑몰 메인 슬라이더 영역에 노출되는 배너입니다.
            </p>
            <table>
                <tr>
                    <th><input type="checkbox" name="all" onclick="totalCheck()"/></th>
                    <th>배너번호</th>
                    <th>이미지</th>
                    <th>배너이름</th>
                    <th>배너링크</th>
                    <th>배너위치</th>
                    <th>시작날짜</th>
                    <th>종료날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>관리</th>
                </tr>

                <tr th:each="banner : ${lBanner}">
                    <td><input type="checkbox" th:value="${banner.bno}" name="배너번호" class="bannerCheckBox"/></td>
                    <td>[[${banner.bno}]]</td>
                    <td>
                        <img th:src="@{'/prodImg/'+${banner.thumb}}"
                             class="bannerImg"
                             onclick="bigImg(this.src)"
                             style="width: 60px; height: auto;">
                    </td>
                    <td>
                        [[${banner.bnName}]]
                    </td>
                    <td>
                        <a th:href="${banner.link}" th:text="${banner.link}"></a>
                    </td>
                    <td>
                        <span th:switch="${banner.cate}">
                            <span th:case="main-top">메인 상단</span>
                            <span th:case="main-slider">메인 슬라이더</span>
                            <span th:case="product">상품 상세보기</span>
                            <span th:case="login">회원 로그인</span>
                            <span th:case="myPage">마이페이지</span>
                        </span>
                    </td>
                    <td>[[${banner.beginDate}]]</td>
                    <td>[[${banner.endDate}]]</td>
                    <td>[[${banner.beginTime}]]</td>
                    <td>[[${banner.endTime}]]</td>
                    <!-- 활성화 버튼 : 1이 활성화 상태 -->
                    <td>
                        <button th:if="${banner.activation != 1}" class="btnChangeAct" onclick="changeAct(this)" th:data-bno="${banner.bno}">활성화</button>
                        <button th:if="${banner.activation == 1}" class="btnChangeAct btnBannerInact" onclick="changeAct(this)" th:data-bno="${banner.bno}">비활성화</button>
                    </td>
                </tr>
            </table>
            <input type="button" class="btnNegative" value="선택삭제" onclick="bannerDelete()"/>
            <input type="button" class="btnPositive btnRegister" value="등록하기" onclick="addBanner()"/>
        </section>

        <!-- 마이페이지 배너-->
        <section id="tabs5">
            <h4>메인 슬라이더배너</h4>
            <p>
                쇼핑몰 메인 슬라이더 영역에 노출되는 배너입니다.
            </p>
            <table>
                <tr>
                    <th><input type="checkbox" name="all" onclick="totalCheck()"/></th>
                    <th>배너번호</th>
                    <th>이미지</th>
                    <th>배너이름</th>
                    <th>배너링크</th>
                    <th>배너위치</th>
                    <th>시작날짜</th>
                    <th>종료날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>관리</th>
                </tr>

                <tr th:each="banner : ${myBanner}">
                    <td><input type="checkbox" th:value="${banner.bno}" name="배너번호" class="bannerCheckBox"/></td>
                    <td>[[${banner.bno}]]</td>
                    <td>
                        <img th:src="@{'/prodImg/'+${banner.thumb}}"
                             class="bannerImg"
                             onclick="bigImg(this.src)"
                             style="width: 60px; height: auto;">
                    </td>
                    <td>
                        [[${banner.bnName}]]
                    </td>
                    <td>
                        <a th:href="${banner.link}" th:text="${banner.link}"></a>
                    </td>
                    <td>
                        <span th:switch="${banner.cate}">
                            <span th:case="main-top">메인 상단</span>
                            <span th:case="main-slider">메인 슬라이더</span>
                            <span th:case="product">상품 상세보기</span>
                            <span th:case="login">회원 로그인</span>
                            <span th:case="myPage">마이페이지</span>
                        </span>
                    </td>
                    <td>[[${banner.beginDate}]]</td>
                    <td>[[${banner.endDate}]]</td>
                    <td>[[${banner.beginTime}]]</td>
                    <td>[[${banner.endTime}]]</td>
                    <!-- 활성화 버튼 : 1이 활성화 상태 -->
                    <td>
                        <button th:if="${banner.activation != 1}" class="btnChangeAct" onclick="changeAct(this)" th:data-bno="${banner.bno}">활성화</button>
                        <button th:if="${banner.activation == 1}" class="btnChangeAct btnBannerInact" onclick="changeAct(this)" th:data-bno="${banner.bno}">비활성화</button>
                    </td>
                </tr>
            </table>
            <input type="button" class="btnNegative" value="선택삭제" onclick="bannerDelete()"/>
            <input type="button" class="btnPositive btnRegister" value="등록하기" onclick="addBanner()"/>
        </section>
    </article>

    <p class="ico info">
        <strong>Tip!</strong>
        전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
    </p>
    <!-- 배너 등록 form -->
    <div id="bannerRegister" class="popup">
        <div>
            <nav>
                <h1>배너등록</h1>
                <button class="btnClose">X</button>
            </nav>
            <section>
                <article>
                    <h3>배너 정보입력</h3>
                    <form th:action="@{/admin/config/register}" method="post" enctype="multipart/form-data"
                          id="prodForm">
                        <table border="0">
                            <tr>
                                <td>배너이름</td>
                                <td>
                                    <p>배너명을 입력하세요.</p>
                                    <input type="text" name="bnName" placeholder="배너명 입력"/>
                                </td>
                            </tr>
                            <tr>
                                <td>배너파일</td>
                                <td>
                                    <p>배너 이미지 파일을 추가하세요.</p>
                                    <input type="file" name="imgFile" placeholder="배너 이미지 파일 선택" onchange="chkImg(this)"
                                           accept=".gif, .jpg, .png, .jpeg, .bmp">
                                </td>
                            </tr>
                            <tr>
                                <td>배너링크</td>
                                <td>
                                    <p>배너를 클릭했을 때 이동할 페이지 링크주소를 입력하세요.</p>
                                    <input type="text" name="link" placeholder="링크주소 입력"/>
                                </td>
                            </tr>
                            <tr>
                                <td>배너위치</td>
                                <td>
                                    <p>배너가 노출되는 위치를 선택하십시요.</p>
                                    <select name="cate" onchange="infoSize(this.value)">
                                        <option value="0">선택</option>
                                        <option value="main-top">메인-상단</option>
                                        <option value="main-slider">메인-슬라이더</option>
                                        <option value="product">상품-상세보기</option>
                                        <option value="login">회원-로그인</option>
                                        <option value="myPage">마이페이지</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="eHeading eManualOptionRow optionListTr" optiongroup="0">
                                <td>배경색상</td>
                                <td>
                                    <input type="color" name="backcolor" style="width:70px; height: 30px" class="colorInput" id="backcolorInput">
                                </td>
                            </tr>
                            <tr>
                                <td>배너 노출날짜</td>
                                <td>
                                    <p>배너가 노출되는 기간을 선택하십시요.</p>
                                    <input type="date" name="beginDate"/>
                                    <span>~</span>
                                    <input type="date" name="endDate"/>
                                </td>
                            </tr>
                            <tr>
                                <td>배너 노출시간</td>
                                <td>
                                    <p>배너가 노출되는 시간을 선택하십시요.</p>
                                    <input type="time" value="08:00:00" step="1800" name="beginTime"/>
                                    <span>~</span>
                                    <input type="time" value="20:00:00" step="1800" name="endTime"/>
                                </td>
                            </tr>
                        </table>

                        <p class="ico info banner" id="infoSize">
                        </p>
                        <div class="bannerSubmit">
                            <input type="submit" class="btnBannerSubmit" value="등록하기"/>
                        </div>

                    </form>
                </article>
            </section>
        </div>
    </div>
    <!-- 이미지 모달 -->
    <div class="modal" onclick="closeBigImg()">
        <span class="close" onclick="closeBigImg()">&times;</span>
        <img class="modal_content">
    </div>
</section>