<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">
<section id="admin-member-list" layout:fragment="content">
    <script>
        // 회원 삭제
        async function deleteMember(button) {
            const uid = button.dataset.uid;
            const wdateString = button.dataset.wdate;

            // ISO 8601 형식의 문자열을 날짜 객체로 변환
            const wdate = new Date(wdateString);

            const sixMonthsAgo = new Date(); // 현재 날짜를 가져옴
            sixMonthsAgo.setMonth(sixMonthsAgo.getMonth() - 6); // 6개월을 빼는 작업

            console.log("wdate : "+wdate);
            console.log("sixMonthsAgo : "+sixMonthsAgo);
            console.log(wdate <= sixMonthsAgo);

            if (wdate <= sixMonthsAgo) {
                fetch(`/lotteon/admin/member/delete/${uid}`)
                    .then(response => {
                        // 새로고침
                        if(response.ok == true){
                            location.reload();
                        }
                    })
                    .catch(err =>{
                        console.log(err);
                    });
            } else {
                alert('탈퇴한 지 6개월이상 된 회원만 영구삭제할 수 있습니다.');
            }

            console.log('wdate : '+ wdate);
        }
        // 검색 type 선택 시 select 태그 추가
        async function findCate(type){
            console.log(type);

            // 성별 조회일 경우
            if(type == 'gender') {
                const searchForm = document.getElementById('searchForm');
                const keywordInput = document.getElementById('keywordInput');
                console.log(type);
                // 기존 <input> 태그 삭제
                keywordInput.remove();

                // gender <select> 태그 생성
                let genderOption = `<select name="keyword" id="keywordInput" onchange="formSubmit()">
                                    <option value="F">여성</option>
                                    <option value="M">남성</option>
                                    </select>`;

                console.log("genderOption : " + genderOption);
                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', genderOption);
            }else if(type == 'level'){
                const searchForm = document.getElementById('searchForm');
                const keywordInput = document.getElementById('keywordInput');
                console.log(type);

                // 기존 <input> 태그 삭제
                keywordInput.remove();

                // level <select> 태그 생성
                let levelOption = `<select name="keyword" id="keywordInput" onchange="formSubmit()">
                                    <option value="1">ACE</option>
                                    <option value="2">GOLD</option>
                                    <option value="3">VIP</option>
                                    <option value="4">MVG</option>
                                    <option value="5">판매자</option>
                                    <option value="6">매니저</option>
                                    <option value="7">최고관리자</option>
                                    </select>`;
                console.log("levelOption : " + levelOption);
                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', levelOption);
            }else {
                const searchForm = document.getElementById('searchForm');
                const keywordInput = document.getElementById('keywordInput');
                console.log(type);

                // 기존 <input> 태그 삭제
                keywordInput.remove();
                const inputKeyword = `<input type="text" name="keyword" placeholder="검색어를 입력하세요" id="keywordInput"/>`;
                console.log("inputKeyword : " + inputKeyword);
                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', inputKeyword);
            }
        }
        // 폼 전송
        function formSubmit(){
            const searchForm = document.getElementById('searchForm');
            searchForm.submit();
        }
        let checkedTurn = 0;
        // 회원 삭제
        function prodDelete(){
            if(confirm('선택한 회원을 삭제하시겠습니까?')){
                const uidCheckBox = document.querySelectorAll('.uidCheckBox');
                // 삭제할 상품의 번호를 저장하는 배열
                let prodNoArray = [];

                // forEach로 순회하며 checked된 상품의 번호 찾기
                uidCheckBox.forEach(check => {
                    // check된 상품번호 배열에 저장
                    if (check.checked){
                        prodNoArray.push(check.value);
                    }
                })
                fetch("/lotteon/admin/product/delete", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({prodNoArray: prodNoArray})
                })
                    .then(response => {
                        // 새로고침
                        if(response.ok == true){
                            location.reload();
                        }
                    })
                    .catch(err =>{
                        console.log(err);
                    });
            }
        }
    </script>
                <nav>
                    <h3>회원현황</h3>
                    <p>
                        HOME > 회원관리 > <strong>회원현황</strong>
                    </p>
                </nav>
                <!-- 회원 목록 컨텐츠 시작 -->
                <section>
                    <p class="ico success">
                        <strong>Tip!</strong>
                        탈퇴한 지 반년이상 된 회원만 영구삭제할 수 있습니다.
                    </p>
                    <!-- 검색 -->
                    <form th:action="@{/admin/member/list}" method="get" id="searchForm">
                        <select name="type" onchange="findCate(this.value)">
                            <option value="uid">아이디</option>
                            <option value="name">이름</option>
                            <option value="nick">닉네임</option>
                            <option value="gender">성별</option>
                            <option value="level">등급</option>
                        </select>
                        <input type="text" name="keyword" placeholder="검색어를 입력하세요" id="keywordInput"/>
                    </form>

                    <!-- 회원 없을 때 -->
                    <th:block th:if="${pageResponseDTO.dtoList.isEmpty()}">
                        <div>
                            <img th:src="@{/admin/images/nodata.png}" style="width: 900px; height: 460px">
                        </div>
                    </th:block>
                    <!-- 회원 목록 -->
                    <table>
                            <tr th:if="${!pageResponseDTO.dtoList.isEmpty()}">
                                <th>아이디</th>
                                <th>이름</th>
                                <th>닉네임</th>
                                <th>성별</th>
                                <th>등급</th>
                                <th>포인트</th>
                                <th>가입일</th>
                                <th>주소</th>
                                <th>이메일</th>
                                <th>전화</th>
                                <th>상태</th>
                                <th>관리</th>
                            </tr>
                            <th:block th:each="member : ${pageResponseDTO.dtoList}">
                                <tr>
                                    <td th:text="${member.uid}"></td>
                                    <td th:text="${member.name}"></td>
                                    <td th:text="${member.nick}"></td>
                                    <td th:if="${member.gender == 'M'}">남성</td>
                                    <td th:if="${member.gender == 'F'}">여성</td>
                                    <td th:if="${member.gender == null}">정보없음</td>
                                    <td th:text="${member.level}"></td>
                                    <td th:text="${member.point}"></td>
                                    <td th:text="${#temporals.format(member.rdate, 'yyyy-MM-dd')}"></td>
                                    <td>
                                        <p>
                                            [[${member.zip}]] <br>
                                            [[${member.addr1}]] <br>
                                            [[${member.addr2}]] <br>
                                        </p>
                                    </td>
                                    <td th:text="${member.email}"></td>
                                    <td th:text="${member.hp}"></td>
                                    <td th:if="${member.wdate != null}">탈퇴</td>
                                    <td th:if="${member.wdate == null}">회원</td>
                                    <td th:if="${member.wdate != null}">
                                    <span onclick="deleteMember(this)" th:data-uid="${member.uid}" th:data-wdate="${member.wdate}">삭제</span>
                                    </td>
                                    <td th:if="${member.wdate == null}"></td>
                                </tr>
                            </th:block>
                    </table>
                    <!-- 페이지 -->
                    <div class="paging" th:if="${!pageResponseDTO.dtoList.isEmpty()}">
                    <span class="prev">
                        <a th:if="${pageResponseDTO.keyword == null}" class="page-link" th:href="@{/admin/member/list(pg=${pageResponseDTO.start - 1})}">&#60;</a>
                        <a th:if="${pageResponseDTO.keyword != null}" class="page-link" th:href="@{/admin/member/list(pg=${pageResponseDTO.start - 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">&#60;</a>
                    </span>
                        <span class="num"> <!-- 해당 페이지 class on-->
                            <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                <a  th:if="${pageResponseDTO.keyword == null}" th:classappend="${pageResponseDTO.pg == num} ? 'page-link on' : 'page-link'" th:href="@{/admin/member/list(pg=${num})}">
                                    [[${num}]]
                                </a>
                                <a  th:if="${pageResponseDTO.keyword != null}" th:classappend="${pageResponseDTO.pg == num} ? 'page-link on' : 'page-link'" th:href="@{/admin/member/list(pg=${num})}">
                                    [[${num}]]
                                </a>
                            </th:block>
                        </span>
                        <span class="next">
                            <a th:if="${pageResponseDTO.keyword == null}" class="page-link" th:href="@{/admin/member/list(pg=${pageResponseDTO.end + 1})}" >&#62;</a>
                            <a th:if="${pageResponseDTO.keyword != null}" class="page-link" th:href="@{/admin/member/list(pg=${pageResponseDTO.end + 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">&#62;</a>
                    </span>
                    </div>
                </section>
                <p class="ico info">
                    <strong>Tip!</strong>
                    전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
                </p>
                <!-- 회원 목록 컨텐츠 끝 -->
            </section>
