<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">
<!-- 상품 상세페이지 시작 -->
<section class="prodView" layout:fragment="content">
    <script>

    </script>

    <!-- 제목, 페이지 네비게이션 -->
    <nav>
        <h1>상품관리</h1>
    </nav>
    <!-- 상품 전체 정보 내용 -->
    <article class="info">
        <div class="image">
            <img th:src="@{|/prodImg/${product.thumb3}|}" alt="상품이미지"/>
        </div>
        <div class="summary">
            <nav>
                <h1>[[${product.company}]]</h1>
                <h2>상품번호&nbsp;:&nbsp;<span>[[${product.prodNo}]]</span></h2>
            </nav>
            <nav>
                <h3>[[${product.prodName}]]</h3>
                <p>[[${product.descript}]]</p>
            </nav>
            <nav>
                <div class="org_price">
                    <del>[[${product.price}]]</del>
                    <span>[[${product.discount}]]%</span>
                </div>
                <div class="dis_price">
                    <ins>27,000</ins>
                </div>
            </nav>
            <nav th:if="${product.delivery} == 0">
                <span class="delivery">무료배송</span>
                <span class="arrival">모레(금) [[${product.rdate}]] 도착예정</span>
                <span class="desc">본 상품은 국내배송만 가능합니다.</span>
            </nav>
            <div class="button">
                <input type="button" class="list" value="상품목록" onclick="goList()"/>
                <input type="button" class="addOption" value="옵션추가" onclick="prodOption()"/>
            </div>
        </div>
    </article>
    <!-- 그 외 상품 옵션 추가 -->
    <div id="optionInputPanel" class="addForm _self_option_wrap">
        <h4>옵션</h4>
        <p>
            반드시 모든 옵션 품목추가를 하셔야 합니다. 등록된 상품은 같은 상품코드가 부여됩니다.
        </p>
        <div class="mBoard gCellSingle">
            <table border="1" summary="" id="optionTable" class="prodOptionTable">
                <thead>
                <tr>
                    <th scope="col">옵션분류</th>
                    <th scope="col">옵션값</th>
                    <th scope="col">분류추가</th>
                </tr>
                </thead>
                <tbody class="center" id="optionTbody">
                <!-- 기존 상품 옵션 -->
                <th:block th:if="${!optionMap.isEmpty()}">
                    <tr class="eHeading manualOptionRow" optiongroup="0" th:each="entry, loop : ${optionMap}">
                        <td>
                            <datalist th:id="'list' + ${loop.index + 1}" class="list">
                                <option>색상</option>
                                <option>사이즈</option>
                                <option>소재</option>
                            </datalist>
                            <input type="text" name="opName" th:list="'list' + ${loop.index + 1}" class="optionName" th:value="${entry.key}">
                        </td>
                        <td class="left eBubbleArea">
                            <div class="optionDiv" th:each="optionList : ${entry.value}">
                                <input type="text" class="fText optionValue" style="width:150px;" placeholder="옵션 값을 입력" th:value="${optionList.opValue}">
                                <input type="hidden" name="opNo" class="opNoInput" th:value="${optionList.opNo}">
                                <span class="spanBtn btnOption lv1Minus vaBottom" onclick="minusValueInput(this)">옵션 값 삭제</span>
                                <span class="spanBtn btnOption lv1Plus vaBottom" onclick="plusValueInput(this)">옵션 값 추가</span>
                            </div>
                        </td>
                        <td>
                            <div class="button">
                                <button type="button" class="btnOption lv1Minus vaBottom" onclick="removeOption(this)">
                                    <span>삭제</span>
                                </button>
                                <button type="button" class="btnOption lv1Plus vaBottom" onclick="addEtcOption(this)">
                                    <span>추가</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="gRight">
            <button id="optionSubmit2" onclick="pushEtcOptionList(event)">모든 옵션 품목추가</button>
        </div>
    </div>
    <!-- 상품 정보 제공 고시 내용 -->
    <article class="notice">
        <nav>
            <h1>상품 정보 제공 고시</h1>
        </nav>
        <table border="0">
            <tr>
                <td>상품번호</td>
                <td>[[${product.prodNo}]]</td>
            </tr>
            <tr>
                <td>상품상태</td>
                <td>[[${product.status}]]</td>
            </tr>
            <tr>
                <td>부가세 면세여부</td>
                <td>[[${product.duty}]]</td>
            </tr>
            <tr>
                <td>영수증발행</td>
                <td>[[${product.receipt}]]</td>
            </tr>
            <tr>
                <td>사업자구분</td>
                <td>[[${product.bizType}]]</td>
            </tr>
            <tr>
                <td>브랜드</td>
                <td>[[${product.company}]]</td>
            </tr>
            <tr>
                <td>원산지</td>
                <td>[[${product.origin}]]</td>
            </tr>
        </table>
        <table border="0">
            <tr>
                <td>제품소재</td>
                <td>[[${product.descript}]]</td>
            </tr>
            <tr>
                <td>색상</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>치수</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>제조자/수입국</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>제조국</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>취급시 주의사항</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>제조연월</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>품질보증기준</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>A/S 책임자와 전화번호</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>주문후 예상 배송기간</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
            </tr>
        </table>
    </article>
</section>