<!-- 나중에 메일 content에 html 파일 자체로 추가할 예정 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <table align="center" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; padding: 0 32px; width: 656px;">
        <tbody><tr><td style="margin: 0; padding: 0;">
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="656" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif;">
                <tbody><tr><td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height: 1px; margin: 0; min-width: 656px; padding: 0;">
                </td></tr>
                </tbody></table>
        </td></tr>
        <tr><td height="36" style="margin: 0; padding: 0;"></td></tr>
        <tr><td style="margin: 0; padding: 0;">
            <img src="https://contents.lotteon.com/email/email_image/fo/resources/assets/common-bi-lotteon-header-re2.png" height="88" width="656" usemap="#on" alt="롯데온 로고" loading="lazy">
            <map name="on">
                <area target="_blank" shape="rect" coords="0,14,200,65" alt="lotte on" href="https://tmsapi.lotteon.com/msg-api/tracking?TV9JRD1NQl85OTk5OV81MTAwNzYyMQ==&amp;U1RZUEU9QVVUTw==&amp;p_id=20240418_4&amp;m_id=MB_99999_51007621&amp;s_tp=AUTO&amp;TElTVF9UQUJMRT1UTVNfQVVUT19TRU5EX0xJU1RfMDE=&amp;UE9TVF9JRD0yMDI0MDQxOF80&amp;U0VSVkVSX0lEPTAy&amp;VEM9MjAyNDA0MjU=&amp;S0lORD1D&amp;Q0lEPTAwMQ==&amp;c_id=001&amp;msg_type=01&amp;msg_type_seq=89&amp;enc_email=e83e79c5ab78faea0e7dde0ecdc53ad627477c9069f209f958965f90a24b36f5&amp;URL=https://www.lotteon.com/display/main/lotteon?ch_no=100005&amp;ch_dtl_no=1033000">
            </map>
        </td></tr>
        <tr><td height="20" style="margin: 0; padding: 0;"></td></tr>
        </tbody></table>
    <table align="center" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; padding: 0 32px; width: 656px;">
        <tbody><tr><td style="margin: 0; padding: 0;">


            <table align="center" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; width: 656px;">
                <tbody><tr><td height="64" style="margin: 0; padding: 0;"></td></tr>
                <tr><td align="left" style="margin: 0; padding: 0;">
                        <span style="color: #333; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 44px; letter-spacing: -0.5px; line-height: 62px;">이메일 간편회원 가입<br>
                            인증번호 안내드립니다.</span>
                </td></tr>
                <tr><td height="40" style="margin: 0; padding: 0;"></td></tr>
                <tr><td align="left" style="margin: 0; padding: 0;">
                        <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 26px; letter-spacing: -0.2px; line-height: 38px; text-align: left;">전송된 아래 인증번호를<br>
                        회원가입 페이지에 입력하시면<br>
                            롯데ON 이메일 인증이 완료됩니다.</span>
                </td></tr>
                <tr><td height="48" style="border-bottom: 2px solid #eee; margin: 0; padding: 0;"></td></tr>
                </tbody></table>

        </td></tr>
        <tr><td style="margin: 0; padding: 0;">


            <table align="center" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; width: 656px;">
                <tbody><tr><td height="96" style="margin: 0; padding: 0;"></td></tr>
                <tr><td style="color: #333; font-size: 30px; margin: 0; padding: 0; text-align: left;">
                    <b style="color: #333; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif;">인증 번호 정보</b>
                </td></tr>
                <tr><td height="20" style="border-bottom: 2px solid #333; margin: 0; padding: 0;"></td></tr>
                </tbody></table>

        </td></tr>
        <tr><td style="margin: 0; padding: 0;">


            <table align="center" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; width: 656px;">
                <tbody><tr><td height="32" colspan="2" style="margin: 0; padding: 0;"></td></tr>
                <tr><td width="252" height="42" style="margin: 0; padding: 0; text-indent: 16px;"><span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 28px; letter-spacing: -0.3px; line-height: 38px; text-align: left;">인증 유효기간</span></td><td width="404" height="42" style="margin: 0; padding: 0;"><span style="color: #333; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 28px; letter-spacing: -0.3px; line-height: 38px; text-align: left;">2024.04.18 23:40 까지</span></td></tr>
                <tr><td height="16" colspan="2" style="margin: 0; padding: 0;"></td></tr>
                <tr><td width="252" height="42" style="margin: 0; padding: 0; text-indent: 16px;"><span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 28px; letter-spacing: -0.3px; line-height: 38px; text-align: left;">인증번호</span></td><td width="404" height="42" style="margin: 0; padding: 0;"><span style="color: #333; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 28px; letter-spacing: -0.3px; line-height: 38px; text-align: left;">0EWP3A</span></td></tr>
                <tr><td colspan="2" height="32" style="border-bottom: 2px solid #eee; margin: 0; padding: 0;"></td></tr>
                </tbody></table>

        </td></tr>
        </tbody></table>
    <table align="center" width="360" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif;">
        <tbody><tr><td height="144" colspan="2" style="margin: 0; padding: 0;"></td></tr>
        </tbody></table>


<!--    <table align="center" cellpadding="0" cellspacing="0" style="background: #f8f8f8; border-bottom: 2px solid #e5e5e5; font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; padding: 0 32px; width: 720px;">-->
<!--        <tbody><tr><td style="margin: 0; padding: 0;">-->
<!--            <table align="center" width="656" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif;">-->
<!--                <tbody><tr><td colspan="2" height="30" style="margin: 0; padding: 0;"></td></tr><tr><td width="18" height="auto" style="color: #757575; font-size: 12px; height: 18px; line-height: 25px; margin: 0; padding: 0; text-align: center; vertical-align: top; width: 18px;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif;">•</span>-->
<!--                </td><td width="638" height="auto" style="margin: 0; padding: 0;">-->
<!--                        <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.3px;">-->
<!--                        본 메일은 E-mail 마케팅 정보 수신동의 여부와 관계없이, 롯데ON 서비스-->
<!--                        운영 상 공지 목적으로 발송되는 발신 전용 메일입니다. 문의사항은 롯데ON-->
<!--                        홈페이지 <a href="https://tmsapi.lotteon.com/msg-api/tracking?TV9JRD1NQl85OTk5OV81MTAwNzYyMQ==&amp;U1RZUEU9QVVUTw==&amp;p_id=20240418_4&amp;m_id=MB_99999_51007621&amp;s_tp=AUTO&amp;TElTVF9UQUJMRT1UTVNfQVVUT19TRU5EX0xJU1RfMDE=&amp;UE9TVF9JRD0yMDI0MDQxOF80&amp;U0VSVkVSX0lEPTAy&amp;VEM9MjAyNDA0MjU=&amp;S0lORD1D&amp;Q0lEPTAwMg==&amp;c_id=002&amp;msg_type=01&amp;msg_type_seq=89&amp;enc_email=e83e79c5ab78faea0e7dde0ecdc53ad627477c9069f209f958965f90a24b36f5&amp;URL=https://www.lotteon.com/m/customer/customerCenter/customerMain" style="color: #f37233; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; letter-spacing: -0.2px; text-decoration: underline;" rel="noreferrer noopener" target="_blank">고객센터</a>를-->
<!--                        이용해주세요.-->
<!--                        </span>-->
<!--                </td></tr><tr><td colspan="2" height="16" style="margin: 0; padding: 0;"></td></tr><tr><td width="18" height="auto" style="color: #757575; font-size: 12px; height: 18px; line-height: 25px; margin: 0; padding: 0; text-align: center; vertical-align: top; width: 18px;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif;">•</span>-->
<!--                </td><td width="638" height="auto" style="margin: 0; padding: 0;">-->
<!--                        <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.3px;">-->
<!--                        롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을 지지 않습니다.-->
<!--                        </span>-->
<!--                </td></tr><tr><td colspan="2" height="30" style="margin: 0; padding: 0;"></td></tr></tbody></table>-->
<!--        </td></tr></tbody></table>-->

<!--    <table align="center" cellpadding="0" cellspacing="0" style="background: #f8f8f8; font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif; margin: 0 auto; padding: 0 32px; width: 720px;">-->

<!--        <tbody><tr><td style="margin: 0; padding: 0;">-->
<!--            <table align="center" width="656" cellpadding="0" cellspacing="0" style="font-family: 'Noto Sans KR','맑은 고딕','Malgun Gothic','Roboto','돋움','Dotum','Helvetica','Apple SD Gothic Neo', sans-serif;">-->
<!--                <tbody><tr><td colspan="2" height="30" style="margin: 0; padding: 0;"></td></tr><tr><td width="154" height="36" style="margin: 0; padding: 0;">-->
<!--                    <a href="https://tmsapi.lotteon.com/msg-api/tracking?TV9JRD1NQl85OTk5OV81MTAwNzYyMQ==&amp;U1RZUEU9QVVUTw==&amp;p_id=20240418_4&amp;m_id=MB_99999_51007621&amp;s_tp=AUTO&amp;TElTVF9UQUJMRT1UTVNfQVVUT19TRU5EX0xJU1RfMDE=&amp;UE9TVF9JRD0yMDI0MDQxOF80&amp;U0VSVkVSX0lEPTAy&amp;VEM9MjAyNDA0MjU=&amp;S0lORD1D&amp;Q0lEPTAwMw==&amp;c_id=003&amp;msg_type=01&amp;msg_type_seq=89&amp;enc_email=e83e79c5ab78faea0e7dde0ecdc53ad627477c9069f209f958965f90a24b36f5&amp;URL=https://lotteon.onelink.me/Tcnc/cffe825c" style="color: #333; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; text-decoration: none;" rel="noreferrer noopener" target="_blank">-->
<!--                        <img src="http://contents.lotteon.com/email/email_image/fo/resources/assets/common-bi-lotteon-footer_re.png" height="36" width="154" loading="lazy"><br>-->
<!--                    </a>-->
<!--                </td></tr><tr><td colspan="2" height="25" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <b style="color: #333; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 21px; letter-spacing: -0.4px;">롯데쇼핑 주식회사</b>-->
<!--                </td></tr><tr><td colspan="2" height="10" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.3px; text-decoration: none;">대표이사 : 강성현, 김사무엘상현, 정준호</span>-->
<!--                </td></tr><tr><td colspan="2" height="4" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.3px; text-decoration: none;">주소 : 서울특별시 송파구 올림픽로 300 롯데월드타워 26층</span>-->
<!--                </td></tr><tr><td colspan="2" height="4" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.3px;">사업자등록번호 : 529-85-00774<span style="color: #dddddd; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; padding: 0;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>통신판매업 신고 : 서울송파 제0158호</span>-->
<!--                </td></tr><tr><td colspan="2" height="4" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.7px; text-decoration: none;">호스팅 서비스사업자 : 롯데쇼핑(주) e커머스 사업부</span>-->
<!--                </td></tr><tr><td colspan="2" height="4" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.7px; text-decoration: none;"><span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif;">롯데ON 고객센터 : 1899-7000(유료)</span></span>-->
<!--                </td></tr><tr><td colspan="2" height="4" style="margin: 0; padding: 0;"></td></tr><tr><td colspan="2" height="15" style="margin: 0; padding: 0;"></td></tr><tr><td style="margin: 0; padding: 0;">-->
<!--                    <span style="color: #757575; font-family: 'Noto Sans KR', 'Malgun Gothic', '돋움','Dotum','Apple SD Gothic Neo', 'Roboto', sans-serif; font-size: 18px; letter-spacing: -0.3px;">Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</span>-->
<!--                </td></tr><tr><td colspan="2" height="45" style="margin: 0; padding: 0;"></td></tr></tbody></table>-->
<!--        </td></tr></tbody></table>-->
<!--    <div style="display:none"><img width="0" height="0" src="https://tmsapi.lotteon.com/msg-api/tracking?TV9JRD1NQl85OTk5OV81MTAwNzYyMQ==&amp;U1RZUEU9QVVUTw==&amp;p_id=20240418_4&amp;m_id=MB_99999_51007621&amp;s_tp=AUTO&amp;TElTVF9UQUJMRT1UTVNfQVVUT19TRU5EX0xJU1RfMDE=&amp;UE9TVF9JRD0yMDI0MDQxOF80&amp;U0VSVkVSX0lEPTAy&amp;VEM9MjAyNDA0MjU=&amp;S0lORD1P" loading="lazy"></div>-->
</div>
</body>
</html>
