<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminListLayout}">

            <section id="admin-index" layout:fragment="content">
                <script>
                    window.onload = async function (){
                        // 주문 차트
                        let ordCt = document.getElementById('orderChart');

                        // 주문 데이터 가져오기
                        const response = await fetch('/lotteon/admin/orderChart');
                        const dataText = await response.text(); // JSON 형식의 문자열을 가져옴
                        console.log("주문 데이터 dataText : " + dataText);
                        let total = 0;
                        let data = [];

                        // json 파싱
                        try {
                            // JSON 형식의 문자열을 JavaScript 객체로 변환
                            data = JSON.parse(dataText);
                            console.log("주문 데이터 : ", data);

                            // total 값 추출
                            total = data.pop().total;
                            console.log("Total Orders:", total);
                        } catch (error) {
                            console.error('주문 데이터 변환 오류:', error);
                        }
                        // 차트 상단에 출력
                        const ordTotal = document.getElementById('ordTotal');
                        ordTotal.innerText = total;

                        let orderChart = new Chart(ordCt,     {
                            type: 'bar',
                            data: {
                                labels: data.map(row => row.month),
                                datasets: [{
                                        label: '월별 주문 건수',
                                        data: data.map(row => row.count),
                                        backgroundColor: '#848a8e',}]},
                            options: {
                                // 크기 조절을 위해 false
                                responsive: false,
                                title: {
                                    display: true,
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            stepSize: 1
                                        }
                                    }]
                                }
                            }
                        });
                    }
                    // 검색일 때 스크롤 이동
                    document.addEventListener("DOMContentLoaded", function() {
                        const orderList = document.getElementsByClassName('orderList')[0];
                        const url = location.href;
                        const keyword = url.split('&keyword=')[1];

                        if(keyword != null) {
                            // 모든 요소가 로드된 이후에 실행되어야 하기 때문에 timeout 걸어줌
                            setTimeout(() => {
                                orderList.scrollIntoView();
                            }, 10);
                        }
                    });
                    // type 상품 분류 선택 시 cate1 조회후 select 태그 추가
                    async function findCate(typeSelect){
                        const type = typeSelect.value;
                        console.log(type);
                        const searchForm = document.getElementById('searchForm');
                        const keywordInput = document.getElementById('keywordInput');
                        if(type == 'cate1') {
                            console.log(type);

                            const cate1s = await fetchGet('/lotteon/admin/findCate1')
                            // 기존 <input> 태그 삭제
                            keywordInput.remove();

                            // cate1용 <select> 태그 생성
                            let cate2Option = `<select name="keyword" id="keywordInput" onchange="formSubmit(this.value)">
                                               <option value="noselect">선택</option>`;

                            // cate1 갯수만큼  <option> 태그 추가
                            for (const cate1 of cate1s) {
                                cate2Option += `<option value="${cate1.cate1}">${cate1.c1Name}</option>`;
                            }
                            cate2Option += `</select>`;
                            console.log("cate2Option : " + cate2Option);
                            // 태그 문자열 삽입
                            typeSelect.insertAdjacentHTML('afterend', cate2Option);

                            // 전체 조회면
                        }else if(type == 'all'){
                            keywordInput.remove();
                            searchForm.submit();

                            // 선택 x
                        }else if(type == 'noselect'){
                            keywordInput.remove();

                            const noInputTag = `<input class="form-control me-2" type="search" name="keyword" id="keywordInput" placeholder="Search" aria-label="Search">`;
                            console.log("noInputTag : " + noInputTag);
                            // 태그 문자열 삽입
                            typeSelect.insertAdjacentHTML('afterend', noInputTag);
                        }else if(type == 'ordStatus'){
                            keywordInput.remove();

                            const noInputTag = `<select name="keyword" class="form-select form-select" onchange="formSubmit(this.value)">
                                                <option value="noselect">선택</option>
                                                <option value="prepare">배송준비</option>
                                                <option value="going">배송중</option>
                                                <option value="delivered">배송완료</option>
                                                <option value="cancel">주문취소</option>
                                                <option value="exchange" >교환요청</option>
                                                <option value="refund">환불요청</option>
                                                <option value="complete">처리완료</option>
                                                <option value="done">구매확정</option>
                                                </select>`;
                            console.log("noInputTag : " + noInputTag);
                            // 태그 문자열 삽입
                            typeSelect.insertAdjacentHTML('afterend', noInputTag);
                        }else{
                            console.log(type);

                            // 기존 <input> 태그 삭제
                            keywordInput.remove();

                            const keywordInputTag = `<input class="form-control me-2" type="search" name="keyword" id="keywordInput" placeholder="Search" aria-label="Search">`;
                            console.log("keywordInputTag : " + keywordInputTag);
                            // 태그 문자열 삽입
                            typeSelect.insertAdjacentHTML('afterend', keywordInputTag);
                        }
                    }
                    // 폼 전송
                    function formSubmit(keyword){
                        const searchForm = document.getElementById('searchForm');
                        if(keyword != 'noselect') {
                            searchForm.submit();
                        }
                    }
                    // 아코디언 상태 변경
                    function accordionControl(button){
                        // 해당 버튼의 data-bs-target 값을 사용하여 아코디언 컨텐츠 요소 가져오기
                        const targetId = button.getAttribute('data-bs-target');
                        const targetContent = document.getElementById(targetId); // 아코디언

                        const price1span = targetContent.querySelector('.price1');
                        const price2span = targetContent.querySelector('.price2');

                        // 가격 가져오기
                        const price1 = Number(price1span.innerText.replace(',', ''));
                        const price2 = Number(price2span.innerText.replace(',', ''));

                        // 가격 형식화
                        const formattedPrice1 = new Intl.NumberFormat('ko-KR').format(price1);
                        const formattedPrice2 = new Intl.NumberFormat('ko-KR').format(price2);

                        console.log('price1 : ' + formattedPrice1);
                        console.log('price2 : ' + formattedPrice2);

                        // 형식화된 가격을 다시 span에 설정
                        price1span.innerText = formattedPrice1;
                        price2span.innerText = formattedPrice2;


                        // 현재 아코디언 상태 확인
                        const isExpanded = button.getAttribute('aria-expanded') === 'true';

                        if (isExpanded) {
                            // 아코디언 닫기
                            button.setAttribute('aria-expanded', 'false');
                            targetContent.classList.remove('show');
                        } else {
                            // 아코디언 열기
                            button.setAttribute('aria-expanded', 'true');
                            targetContent.classList.add('show');
                        }
                    }
                    // 모달 띄우기
                    function changeStatus(span){
                        const modal = document.querySelector(".modal");
                        const btnChg = modal.querySelectorAll('.btnOrdStatus');
                        const ordItemNo = span.dataset.no;
                        console.log(ordItemNo);
                        btnChg.forEach(btn => btn.dataset.no = ordItemNo);
                        modal.style.display = "block";
                    }
                    // 모달 끄기
                    function closeModal() {
                        const modal = document.querySelector(".modal");
                        modal.style.display = "none";
                    }
                    // 주문상태 변경
                    async function changeOrdStat(button){
                        const ordStatusK = button.innerText;
                        const ordItemno = button.dataset.no;
                        // 모달 띄우는 span 선택
                        const statusSpan = document.querySelector('.statusSpan' + ordItemno);
                        console.log("statusSpan : "+ statusSpan);
                        let ordStatus = "";
                        let styleColor = "";

                        switch (ordStatusK){
                            case "배송준비" :
                                ordStatus = "prepare";
                                styleColor = "color: #d10e49";
                                break;
                            case "배송중" :
                                ordStatus = "going";
                                styleColor = "color: #e36731";
                                break;
                            case "배송완료" :
                                ordStatus = "delivered";
                                styleColor = "color: #e8bf18";
                                break;
                            case "주문취소" :
                                ordStatus = "ready";
                                styleColor = "color: #0ca03c";
                                break;
                            case "교환요청" :
                                ordStatus = "exchange";
                                styleColor = "color: #1e3fe3";
                                break;
                            case "환불요청" :
                                ordStatus = "refund";
                                styleColor = "color: #161875";
                                break;
                            case "처리완료" :
                                ordStatus = "complete";
                                styleColor = "color: #bd0df4";
                                break;
                        }
                        console.log("ordStatus : "+ordStatus);
                        await fetch(`/lotteon/seller/ordStat/${ordItemno}/${ordStatus}`)
                            .then(response => {
                                if (response.ok) {
                                    statusSpan.innerText = ordStatusK;
                                    statusSpan.style = styleColor;
                                    closeModal();
                                } else {
                                    throw new Error('Network response was not ok.');
                                    return  null;
                                }
                            })
                            .catch(err => {
                                console.log(err);});
                    }

                </script>
                <nav>
                    <h3>관리자 주문관리</h3>
                    <p>
                        HOME > <strong>주문현황</strong>
                    </p>
                </nav>
                <article>
                    <table>
                        <tr>
                            <td>
                                <strong>최근 12개월 주문건수(건)</strong>
                                <span id="ordTotal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <canvas id="orderChart" width="800" height="300" style="margin-left: 140px"></canvas>
                            </td>
                        </tr>
                    </table>
                </article>
                <h4>쇼핑몰 주문현황</h4>
                <!-- 검색 nav -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <form th:action="@{/admin/order/list}" method="get" class="d-flex" id="searchForm">
                                <select class="form-select form-select" name="type" aria-label=".form-select-sm example" onchange="findCate(this)">
                                    <option value="all">전체</option>
                                    <option value="prodName">상품명</option>
                                    <option value="prodNo">상품번호</option>
                                    <option value="cate1" >상품분류</option>
                                    <option value="company">제조사</option>
                                    <option value="seller">판매자</option>
                                    <option value="ordStatus">주문상태</option>
                                </select>
                                <input class="form-control me-2" type="search" name="keyword" id="keywordInput" placeholder="Search" aria-label="Search">
                                <button class="btn btnSearch" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <th:block th:if="${pageResponseDTO.dtoList.isEmpty()}">
                    <div>
                        <img th:src="@{/admin/images/noproduct.png}" style="width: 900px; height: 460px">
                    </div>
                </th:block>
                <table class="orderList">
                    <tr th:each="OrderListDTO, loop : ${pageResponseDTO.dtoList}">
                        <td class="orderListTd">
                            <div class="accordion myAccordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <span class="accordion-button" data-bs-toggle="collapse" th:data-bs-target="'panel'+${loop}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" onclick="accordionControl(this)">
                                            <span th:text="${OrderListDTO.orderItemDTO.ordItemno}"></span>
                                            <span th:text="${OrderListDTO.productDTO.prodNo}"></span>
                                            <span th:text="${OrderListDTO.productDTO.prodName}"></span>
                                            <span th:text="${#temporals.format(OrderListDTO.orderItemDTO.ordDate, 'yyyy-MM-dd')}"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '배송준비'}" style="color: #d10e49" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '배송중'}" style="color: #e36731" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '배송완료'}" style="color: #e8bf18" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '주문취소'}" style="color: #0ca03c" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '교환요청'}" style="color: #1e3fe3" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '환불요청'}" style="color: #161875" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '처리완료'}" style="color: #bd0df4" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                            <span th:class="${'statusSpan'+OrderListDTO.orderItemDTO.ordItemno}" th:if="${OrderListDTO.orderItemDTO.ordStatus == '구매확정'}" style="color: #bd0df4" th:text="${OrderListDTO.orderItemDTO.ordStatus}" th:data-no="${OrderListDTO.orderItemDTO.ordItemno}" onclick="changeStatus(this)"></span>
                                        </span>
                                    </h2>
                                    <div th:id="'panel'+${loop}" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <div>
                                                <div class="details" th:if="${OrderListDTO.opList != null}">
                                                    <p class="productDetail">옵션</p>
                                                    <div class="optionDiv" th:each="option : ${OrderListDTO.opList}">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <span>옵션번호</span>
                                                                <span th:text="${option.opNo}"></span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span>옵션이름</span>
                                                                <span th:text="${option.opName}"></span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span>옵션값</span>
                                                                <span th:text="${option.opValue}"></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="details" th:if="${OrderListDTO.opList == null}">
                                                    <p class="productDetail">옵션</p>
                                                    <img th:src="@{/admin/images/Empty-cuate.png}" style="width: auto; height: 200px">
                                                </div>
                                                <div class="cartPrice order-3">
                                                    <p class="productDetail">주문상세</p>
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <span>가격</span>
                                                            <span class="price1">[[${OrderListDTO.productDTO.price}]]</span> 원
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>총 가격</span>
                                                            <span class="price2">[[${OrderListDTO.orderItemDTO.count * OrderListDTO.productDTO.price}]]</span> 원
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>배송받는 분</span>
                                                            <span th:text="${OrderListDTO.orderDTO.recipName}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>전화번호</span>
                                                            <span th:text="${OrderListDTO.orderDTO.recipHp}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>배송지 우편번호</span>
                                                            <span th:text="${OrderListDTO.orderDTO.recipZip}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>배송지 주소</span>
                                                            <span th:text="${OrderListDTO.orderDTO.recipAddr1}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>배송지 상세주소</span>
                                                            <span th:text="${OrderListDTO.orderDTO.recipAddr2}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span>주문상태</span>
                                                            <span th:text="${OrderListDTO.orderItemDTO.ordStatus}"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- 페이지 -->
                <div class="pageDiv">
                    <nav aria-label="Page navigation example" th:if="${!pageResponseDTO.dtoList.isEmpty()}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/order/list(pg=${pageResponseDTO.start - 1})}" aria-label="Previous"  th:if="${pageResponseDTO.keyword == null}" >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <a class="page-link" th:href="@{/admin/order/list(pg=${pageResponseDTO.start - 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}" aria-label="Previous"  th:if="${pageResponseDTO.keyword != null}" >
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                <li class="page-item"><a class="page-link" th:href="@{/admin/order/list(pg=${num})}" th:if="${pageResponseDTO.keyword == null}">[[${num}]]</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/admin/order/list(pg=${num}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}" th:if="${pageResponseDTO.keyword != null}">[[${num}]]</a></li>
                            </th:block>
                            <li class="page-item">
                                <a th:if="${pageResponseDTO.keyword == null}" class="page-link"  th:href="@{/admin/order/list(pg=${pageResponseDTO.end + 1})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                <a th:if="${pageResponseDTO.keyword != null}" class="page-link"  th:href="@{/admin/order/list(pg=${pageResponseDTO.end + 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="statusModal modal" id="statusModal">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <div id="btnStatusModal">
                        <div style="margin: 40px 65px;">
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)">배송준비</span>
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)">배송중</span>
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)">배송완료</span>
                        </div>
                        <div style="margin: 40px 25px;">
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)" >주문취소</span>
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)" >교환요청</span>
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)" >환불요청</span>
                        <span class="btnOrdStatus" onclick="changeOrdStat(this)" >처리완료</span>
                        </div>
                    </div>
                </div>
            </section>
