<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerLayout}">
            <section id="admin-index" layout:fragment="content">
                <nav>
                    <h3>판매자 메인</h3>
                    <p>
                        HOME > <strong>메인</strong>
                    </p>
                </nav>

                <article>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xl-3">
                                <div class="card bg-c-blue order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20"><i class="fa fa-cart-plus f-left"></i> 주문 현황</h6>
                                        <p class="m-b-0">최근 12개월 <span class="f-right">[[${year.orderCount}]]</span></p>
                                        <p class="m-b-0">최근 1개월 <span class="f-right">[[${month.orderCount}]]</span></p>
                                        <p class="m-b-0">최근 1주 <span class="f-right">[[${week.orderCount}]]</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-3">
                                <div class="card bg-c-green order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20"><i class="fa fa-rocket f-left"></i>배송 현황</h6>
                                        <p class="m-b-0">배송 준비중<span class="f-right" th:text="${deli['배송 준비중']}"></span></p>
                                        <p class="m-b-0">배송중<span class="f-right" th:text="${deli['배송중']}"></span></p>
                                        <p class="m-b-0">배송 완료<span class="f-right" th:text="${deli['배송 완료']}"></span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-3">
                                <div class="card bg-c-yellow order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20"><i class="fa fa-refresh f-left"></i>교환/환불 관리</h6>
                                        <p class="m-b-0">교환 요청<span class="f-right">351</span></p>
                                        <p class="m-b-0">환불 요청<span class="f-right">351</span></p>
                                        <p class="m-b-0">환불 완료<span class="f-right">351</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-xl-3">
                                <div class="card bg-c-pink order-card">
                                    <div class="card-block">
                                        <h6 class="m-b-20"><i class="fa fa-credit-card f-left"></i>매출 내역</h6>
                                        <p class="m-b-0">최근 12개월 <span class="f-right">[[${year.orderSum}]]</span></p>
                                        <p class="m-b-0">최근 1개월 <span class="f-right">[[${month.orderSum}]]</span></p>
                                        <p class="m-b-0">최근 1주 <span class="f-right">[[${week.orderSum}]]</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div>
                    <div>
                        <h4>공지사항</h4>
                        <article>
                            <th:block th:each="notice, loop : ${noticeList}">
                            <div>
                                <a th:href="@{/cs/notice/view(group='notice',bno=${notice.bno}, cate=${notice.cate})}"><span>[ [[${notice.typeName}]] ]</span> [[${notice.title}]]</a>
                                <span th:text="${#temporals.format(notice.rdate, 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                            </th:block>
                        </article>
                    </div>

                    <div>
                        <h4>고객문의</h4>
                        <article>
                            <th:block th:each="qna, loop : ${qnaList}">
                                <div>
                                    <a th:href="@{/cs/qna/view(group='qna',bno=${qna.bno}, cate=${qna.cate})}"><span>[ [[${qna.typeName}]] ]</span> [[${qna.title}]]</a>
                                    <span th:text="${#temporals.format(qna.rdate, 'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                            </th:block>
                        </article>
                    </div>
                </div>
            </section>
