<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout}">
<head>
  <script>

    let nowTotal = [[${boardDTO.file}]];
    const url = location.href;

    const urlsplit1 = url.split('&')[1];
    const bno = urlsplit1.split('=')[1];
    console.log(bno);


    // 이미지 추가
    function handleFileSelect(input) {
      console.log("nowTotal 더하기 전 1 :" +nowTotal);
      var files = input.files;
      var addFile = files.length; // 추가하려는 파일 개수
      console.log("추가하려는 파일 개수 2 :" +addFile);


      var maxFileCount = 4; // 최대 파일 개수

      console.log("nowTotal 더한 후 3 :" +nowTotal);
      // 현재 이미 선택된 파일의 개수 가져오기
      console.log("현재 이미 선택된 파일 개수 4 :" +nowTotal);
      // 기존 파일의 개수와 새로 추가할 파일의 개수를 합쳐서 최대 파일 개수를 초과하는지 확인
      // 이미지 개수가 초과한 경우
      if (nowTotal + addFile > maxFileCount) {
        alert("현재 " + nowTotal + "개의 이미지가 선택되어 있습니다. 최대 " + maxFileCount + "개의 이미지 파일만 선택할 수 있습니다.");
        nowTotal -= addFile;

        // 파일 선택 취소
        input.value = '';
        console.log("이미지 개수가 초과한 경우 총 파일 수 :" +nowTotal);

        // 이미지 개수가 OK
      } else {
        var filebox = document.querySelector('.filebox');

        console.log("이미지 개수가 OK 5 :" +nowTotal);
        nowTotal += addFile;
        for (var i = 0; i < addFile; i++) {
          var file = files[i];

          var reader = new FileReader();
          reader.onload = function(e) {

            // 새로 추가된 이미지
            var img = document.createElement('img');
            img.src = e.target.result;
            img.alt = "새로 추가된 이미지";
            img.style.width = '200px'; // 이미지의 너비를 200px로 설정
            img.style.display = 'block'; // 이미지를 블록 요소로 표시
            img.style.marginRight = '10px'; // 우측 여백 설정
            img.style.position = 'relative'; // 상대적 위치 설정

            // 새로 추가된 <P>
            var p = document.createElement('p');
            p.style.display = 'inline-block'; // 인라인-블록 요소로 설정
            p.style.position = 'relative'; // 상대적 위치 설정
            p.appendChild(img);

            // 새로 추가된 버튼
            var button = document.createElement('button');
            button.type = 'button';
            button.textContent = 'X';

            // 새로 추가된 버튼의 인덱스
            const index = nowTotal + i + 1;

            const newBtn = `<button type="button" onclick="hideImage(this)" style="position: absolute; top: 0; left: 0; font-size: 20px;" th:data-count="${index}">X</button>`;

            // p태그 </p> 전에 삽입
            p.insertAdjacentHTML('beforeend', newBtn);

            button.style.position = 'absolute'; // 절대 위치 설정
            button.style.top = '0'; // 위쪽 여백 설정
            button.style.left = '0'; // 왼쪽 여백 설정
            button.style.fontSize = '20px'; // 글꼴 크기 설정
            console.log("이미지 개수가 OK 총 파일 수 :" +nowTotal);
            filebox.appendChild(p);
          };

          reader.readAsDataURL(file);
        }
      }
    }


    async function hideImage(button) {
      if(confirm("파일을 삭제하시겠습니까?")){
        const sfile = button.dataset.sfile;
        console.log('sfile : ' + sfile);
        const data = await fetchGet(`/lotteon/file/delete/${sfile}`);
        console.log(data);
      }


      var paragraph = button.parentNode;
      paragraph.style.display = 'none';
      console.log("nowTotal 빼기 전 1 :" +nowTotal);
      var selectedFiles = document.querySelectorAll('.filebox img').length;

      console.log("selectedFiles 빼기 전 2 :" +selectedFiles);
      nowTotal -= 1;
      var maxFileCount = 4; // 최대 파일 개수
      console.log("nowTotal 뺀 후 3 :" +nowTotal);
      // 새로운 파일을 추가할 수 있는지 확인
      var fileInput = document.querySelector('input[type="file"]');
      console.log('파일 html부분'+fileInput)
      fileInput.disabled = selectedFiles >= maxFileCount;

      console.log("총 파일 수 :" +nowTotal);

      // 이미지를 삭제할 때마다 첨부 가능한 파일의 수를 증가시킴
      fileInput.removeAttribute('disabled');
    }

    document.addEventListener("DOMContentLoaded",  function() {
      var writeForm = document.getElementById('writeForm');

      writeForm.addEventListener('submit', async function(event) {
        // 글 등록 후 알림 창 표시
        alert('글이 성공적으로 등록되었습니다.');

        // 이벤트 기본 동작 중단하지 않고 폼 제출
        writeForm.submit();


      });
    });

  </script>
</head>
<section id="cs" layout:fragment="content">
  <div class="qna">
    <nav>
      <div>
        <p>홈
          <span>></span>
          <span th:switch="${group}">
                        <span th:case="notice" style="font-size: 16px; color: black;">공지사항</span>
                        <span th:case="qna" style="font-size: 16px; color: black;">고객문의</span>
                        <span th:case="faq" style="font-size: 16px; color: black;">자주묻는질문</span>
                    </span>
        </p>
      </div>
    </nav>
    <section class="write">
      <aside>
        <h2>문의하기</h2>
        <ul>
          <li th:class="${(cate=='member') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='member')}">회원</a></li>
          <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='coupon')}">쿠폰/이벤트</a></li>
          <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='order')}">주문/결제</a></li>
          <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='delivery')}">배송</a></li>
          <li th:class="${(cate=='refund') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='refund')}">취소/반품/교환</a></li>
          <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='travel')}">여행/숙박/항공</a></li>
          <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='safe')}">안전거래</a></li>
        </ul>
      </aside>
      <article>
        <form id="writeForm" th:action="@{/cs/qna/modify(cate=${boardDTO.cate}, bno=${boardDTO.bno}, group=${boardDTO.group})}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="group" readonly th:value="${group}" />
          <input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}" />
          <table>
            <tr>
              <td>문의유형</td>
              <td>
                <select name="cate" id="cate" required disabled>
                  <option selected disabled value="">[[${(cate eq 'member') ? '회원' :
                    (cate eq 'coupon') ? '쿠폰/이벤트' :
                    (cate eq 'order') ? '주문/결제' :
                    (cate eq 'delivery') ? '배송' :
                    (cate eq 'refund') ? '취소/반품/교환' :
                    (cate eq 'travel') ? '여행/숙박/항공' :
                    (cate eq 'safe') ? '안전거래' : ''}]]</option>
                </select>

                <!-- 2차 분류 선택 상자 -->
                <select name="type" id="type" required disabled>
                  <option selected disabled value="">[[${boardDTO.typeName}]]</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>문의제목</td>
              <td>
                <input type="text" name="title" placeholder="제목을 입력하세요." th:value="${boardDTO.title}"/>
              </td>
            </tr>
            <tr>
              <td>문의내용</td>
              <td>
                <textarea name="content" placeholder="내용을 입력하세요." th:text="${boardDTO.content}"></textarea>
              </td>
            </tr>
            <tr>
              <td>파일</td>
              <td>
                <span>크기 200 x 200, 상품 상세에 출력될 이미지 입니다. </span>
                <input style="margin-top: 12px;" type="file" name="files" multiple="multiple" onchange="handleFileSelect(this)" accept="image/*"/>
                <div class="filebox" th:if="${boardDTO.fileDTOList != null and not #lists.isEmpty(boardDTO.fileDTOList)}">
                  <p th:each="fileDTO, iterStat : ${boardDTO.fileDTOList}" th:style="'display: inline-block; position: relative; margin-right: 10px;' + (${iterStat.last} ? 'margin-right: 0;' : '')">
                    <img th:src="@{|/uploads/${fileDTO.sfile}|}" alt="상품이미지" style="display: block;"/>
                    <button type="button" onclick="hideImage(this)" style="position: absolute; top: 0; left: 0; font-size: 20px;" th:data-sfile="${fileDTO.sfile}" th:data-count="${iterStat}">X</button>
                  </p>
                </div>
              </td>
            </tr>

          </table>
          <div>
            <a th:href="@{/cs/qna/list(group='qna', cate='member')}" class="btnWriteCancel">취소하기</a>
            <input type="submit" value="수정하기" class="btnSubmit" id="formFileMultiple" multiple th:href="@{/cs/qna/modify(group='qna', cate=${cate})}"/>
          </div>
        </form>

      </article>
    </section>
  </div>
</section>