<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout}">
<head>
  <script>
    function handleCateChange() {
      var cateSelect = document.getElementById('cate');
      var typeSelect = document.getElementById('type');

      var selectedCate = cateSelect.value;

      if (selectedCate === '0') {
        typeSelect.disabled = true;
        typeSelect.selectedIndex = 0;
      } else {
        var options = typeSelect.getElementsByTagName('option');
        for (var i = 0; i < options.length; i++) {
          var option = options[i];
          if (option.getAttribute('data-cate') === selectedCate) {
            option.style.display = '';
          } else {
            option.style.display = 'none';
          }
        }
        typeSelect.disabled = false;
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      var writeForm = document.getElementById('writeForm');

      writeForm.addEventListener('submit', function(event) {
        var titleInput = document.querySelector('input[name="title"]');
        var contentInput = document.querySelector('textarea[name="content"]');
        var titleValue = titleInput.value.trim();
        var contentValue = contentInput.value.trim();

        if (titleValue === '') {
          event.preventDefault(); // 폼 제출 방지
          alert('제목을 입력하세요.'); // 알림 표시
          titleInput.focus(); // 제목 입력란으로 포커스 이동
          return;
        }

        if (contentValue === '') {
          event.preventDefault(); // 폼 제출 방지
          alert('내용을 입력하세요.'); // 알림 표시
          contentInput.focus(); // 내용 입력란으로 포커스 이동
          return;
        }

        var cateSelect = document.getElementById('cate');
        var typeSelect = document.getElementById('type');
        var selectedCate = cateSelect.value;
        var selectedType = typeSelect.value;

        if (selectedCate === '0' || selectedType === '0') {
          event.preventDefault(); // 폼 제출 방지
          alert('문의유형을 선택하십시오.'); // 알림 표시
        } else {
          // 글 등록 후 알림 창 표시
          alert('글이 성공적으로 등록되었습니다.');
        }
      });
    });

    function handleFileSelect(input) {
      var files = input.files;
      var fileCount = files.length;

      if (fileCount > 4) {
        alert("최대 4개의 이미지 파일만 선택할 수 있습니다.");
        // 파일 선택 취소
        input.value = '';
      }
    }
  </script>

</head>
<section id="cs" layout:fragment="content">
  <div class="qna">
    <nav>
      <div>
        <p>홈
          <span>></span>
          <span th:switch="${group}">
                        <span th:case="notice" style="font-size: 16px; color: black;">공지사항</span>
                        <span th:case="qna" style="font-size: 16px; color: black;">고객문의</span>
                        <span th:case="faq" style="font-size: 16px; color: black;">자주묻는질문</span>
                    </span>
        </p>
      </div>
    </nav>
    <section class="write">
      <aside>
        <h2>문의하기</h2>
        <ul>
          <li th:class="${(cate=='member') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='member')}">회원</a></li>
          <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='coupon')}">쿠폰/이벤트</a></li>
          <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='order')}">주문/결제</a></li>
          <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='delivery')}">배송</a></li>
          <li th:class="${(cate=='refund') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='refund')}">취소/반품/교환</a></li>
          <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='travel')}">여행/숙박/항공</a></li>
          <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='safe')}">안전거래</a></li>
        </ul>
      </aside>
      <article>
        <form id="writeForm" th:action="@{/cs/qna/write}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="group" readonly th:value="${group}" />
          <input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}" />
          <table>
            <tr>
              <td>문의유형</td>
              <td>
                <select name="cate" id="cate" required onchange="handleCateChange()">
                  <option selected disabled th:value="0">1차 분류</option>
                  <option value="member">회원</option>
                  <option value="coupon">쿠폰/이벤트</option>
                  <option value="order">주문/결제</option>
                  <option value="delivery">배송</option>
                  <option value="refund">취소/반품/교환</option>
                  <option value="travel">여행/숙박/항공</option>
                  <option value="safe">안전거래</option>
                </select>

                <!-- cateName에 따라서 선택지가 달라짐 -->
                <select name="typeNo" id="type" required disabled>
                  <option selected disabled th:value="0">2차 분류</option>
                  <th:block th:each="type : ${types}">
                    <option th:value="${type.typeNo}" th:text="${type.typeName}" th:attr="data-cate=${type.cate}"></option>
                  </th:block>
                </select>
              </td>
            </tr>
            <tr>
              <td>문의제목</td>
              <td>
                <input type="text" name="title" placeholder="제목을 입력하세요."/>
              </td>
            </tr>
            <tr>
              <td>문의내용</td>
              <td>
                <textarea name="content" placeholder="내용을 입력하세요."></textarea>
              </td>
            </tr>
            <tr>
              <td>파일</td>
              <td>
                <span>크기 200 x 200, 상품 상세에 출력될 이미지 입니다. </span>
                <input style="margin-top: 12px;" type="file" name="files" multiple="multiple" onchange="handleFileSelect(this)" accept="image/*"/>
              </td>
            </tr>
          </table>
          <div>
            <a th:href="@{/cs/qna/list(group='qna', cate='member')}" class="btnWriteCancel">취소하기</a>
            <input type="submit" value="등록하기" class="btnSubmit" id="formFileMultiple" multiple/>
          </div>
        </form>
      </article>
    </section>
  </div>
</section>