<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerListLayout}">
<section id="admin-product-list" layout:fragment="content">
    <script>

        window.onload = function () {
            // 숫자를 3자리마다 콤마를 추가하여 문자열로 반환하는 함수
            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            document.querySelectorAll('.price').forEach(priceTd => {
                const price = priceTd.innerText;
                const commasPrice = numberWithCommas(price);
                priceTd.innerText = commasPrice;
            });
        }

        // type 상품 분류 선택 시 cate1 조회후 select 태그 추가
        async function findCate(type) {
            console.log(type);
            const searchForm = document.getElementById('searchForm');
            const keywordInput = document.getElementById('keywordInput');
            if (type == 'cate1') {
                console.log(type);

                const cate1s = await fetchGet('/lotteon/seller/findCate1')
                // 기존 <input> 태그 삭제
                keywordInput.remove();

                // cate1용 <select> 태그 생성
                let cate2Option = `<select class="form-select" name="keyword" id="keywordInput" onchange="formSubmit()">`;

                // cate1 갯수만큼  <option> 태그 추가
                for (const cate1 of cate1s) {
                    cate2Option += `<option value="${cate1.cate1}">${cate1.c1Name}</option>`;
                }
                cate2Option += `</select>`;
                console.log("cate2Option : " + cate2Option);
                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', cate2Option);
                // 상태 조회면
            } else if (type == 'status'){
                // 기존 <input> 태그 삭제
                keywordInput.remove();
                const keywordInputTag = `<select class="form-select" name="keyword" id="keywordInput" onchange="formSubmit()">
                                            <option value="noselect">상품상태</option>
                                            <option value="0">새상품</option>
                                            <option value="1">품절</option>
                                            <option value="2">삭제된 상품</option>
                                        </select>`;

                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', keywordInputTag);

                // 전체 조회면
            } else if (type == 'all') {
                keywordInput.remove();
                searchForm.submit();

                // 선택 x
            } else if (type == 'noselect') {
                keywordInput.remove();

                const noInputTag = `<input type="hidden" name="keyword" placeholder="검색어를 입력하세요" id="keywordInput"/>`;
                console.log("noInputTag : " + noInputTag);
                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', noInputTag);

            } else {
                console.log(type);

                // 기존 <input> 태그 삭제
                keywordInput.remove();

                const keywordInputTag = `<input type="text" name="keyword" placeholder="검색어를 입력하세요" id="keywordInput"/>`;
                console.log("keywordInputTag : " + keywordInputTag);
                // 태그 문자열 삽입
                searchForm.insertAdjacentHTML('beforeend', keywordInputTag);
            }
        }

        // 폼 전송
        function formSubmit() {
            const searchForm = document.getElementById('searchForm');
            searchForm.submit();
        }

        let checkedTurn = 0;

        // 전체 선택 클릭
        function totalCheck() {
            const prodCheckBox = document.querySelectorAll('.prodCheck');
            // 체크한 경우
            if (checkedTurn === 0) {
                prodCheckBox.forEach(function (checkbox) {
                    checkbox.checked = true;
                });
                checkedTurn = 1;
                // 체크 해제한 경우
            } else {
                prodCheckBox.forEach(function (checkbox) {
                    checkbox.checked = false;
                });
                checkedTurn = 0;
            }
        }
        // 상품 삭제
        function prodDelete() {
            if (confirm('선택한 상품을 삭제하시겠습니까?')) {
                const prodCheckBox = document.querySelectorAll('.prodCheck');
                // 삭제할 상품의 번호를 저장하는 배열
                let prodNoArray = [];

                // forEach로 순회하며 checked된 상품의 번호 찾기
                prodCheckBox.forEach(check => {

                    // check된 상품번호 배열에 저장
                    if (check.checked) {
                        prodNoArray.push(check.dataset.prod);
                    }
                })
                fetch("/lotteon/admin/product/delete", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(prodNoArray)
                })
                    .then(response => {
                        // 새로고침
                        if (response.ok == true) {
                            location.reload();
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        }

        // 모달 띄우기
        function btnModify(button) {
            const modal = document.querySelector(".modal");
            const modalProdNoInput = document.getElementById('modalProdNoInput');
            const prodNo = button.dataset.prod;
            console.log(prodNo);

            // 모달에 rno 보내기
            modalProdNoInput.value = prodNo;
            modal.style.display = "block";
        }

        // 모달 끄기
        function closeModal() {
            const modal = document.querySelector(".modal");

            // 체크된 라디오 버튼 해제
            const checkedRadios = modal.querySelectorAll('.btn-check');
            checkedRadios.forEach(radio => {
                radio.checked = false;
            });

            modal.style.display = "none";
        }

        // 수정 정보 전송
        async function modifySubmit(button) {
            // form data
            const form = document.getElementById('prodModalForm');
            const prodNo = form.prodNo.value;
            const statusNum = button.dataset.stat;

            console.log("111 : " + prodNo);
            console.log("222 : " + statusNum);
            // table의 emp, status span
            const statusSpanClass = '.statusSpan' + prodNo;
            const statusSpan = document.querySelector(statusSpanClass);

            console.log(statusSpan);
            // table에 변경된 정보 반영
            switch (statusNum) {
                case "0" :
                    statusSpan.innerText = "새상품";
                    statusSpan.style = "color: #0ca03c";
                    break;
                case "1" :
                    statusSpan.innerText = "품절";
                    statusSpan.style = "color: #0c2aa0";
                    break;
                case "2" :
                    statusSpan.innerText = "삭제된 상품";
                    statusSpan.style = "color: #e60822";
                    break;
            }
            // 정보 전송
            const data = await fetchGet(`/lotteon/admin/product/status/${prodNo}/${statusNum}`);
            closeModal();
        }
    </script>
    <nav>
        <h3>상품목록</h3>
        <p>
            HOME > 상품관리 > <strong>상품목록</strong>
        </p>
    </nav>
    <!-- 상품목록 컨텐츠 시작 -->
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" id="recruitSearchDiv">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form th:action="@{/seller/product/list}" class="d-flex" method="get" id="searchForm">
                        <select class="form-select" name="type" onchange="findCate(this.value)">
                            <option value="noselect">검색</option>
                            <option value="all">전체</option>
                            <option value="prodName">상품명</option>
                            <option value="prodNo">상품번호</option>
                            <option value="cate1">상품분류</option>
                            <option value="status">상품상태</option>
                            <option value="company">제조사</option>
                        </select>
                        <input type="hidden" name="keyword" placeholder="검색어를 입력하세요" id="keywordInput"/>
                    </form>
                </div>
            </div>
        </nav>
        <!-- 상품 없을 때 -->
        <th:block th:if="${adminPageResponseDTO.dtoList.isEmpty()}">
            <div>
                <img th:src="@{/admin/images/noproduct.png}" style="width: 900px; height: 460px">
            </div>
        </th:block>
        <table class="table">
            <thead class="thead">
            <tr th:if="${!adminPageResponseDTO.dtoList.isEmpty()}">
                <th>상품코드</th>
                <th>이미지</th>
                <th>상품명</th>
                <th>판매가격</th>
                <th>할인율</th>
                <th>포인트</th>
                <th>재고</th>
                <th>제조사</th>
                <th>조회</th>
                <th>상태</th>
                <th class="checkTd">
                    <span class="btn prodCheckAll" onclick="totalCheck()">전체선택</span>
                </th>
            </tr>
            </thead>
            <tbody class="tbody">
            <th:block th:each="product, loop : ${adminPageResponseDTO.dtoList}">
                <tr>
                    <td th:text="${product.prodNo}">상품코드</td>
                    <td>
                        <img th:src="@{'/prodImg/'+${product.thumb1}}"
                             class="thumb"
                             style="width: 60px; height: 60px;">
                    </td>
                    <td>
                        <a th:href="@{/seller/product/view(prodNo = ${product.prodNo})}">[[${product.prodName}]]</a>
                    </td>
                    <td><span class="price">[[${product.price}]]</span> <strong> 원</strong></td>
                    <td th:text="${product.discount}">할인율</td>
                    <td th:text="${product.point}">적립금</td>
                    <td th:text="${product.stock}">재고</td>
                    <td th:text="${product.company}">제조사</td>
                    <td th:text="${product.hit}">조회</td>
                    <td>
                        <span th:class="${'statusSpan'+product.prodNo}" th:if="${product.status == '새상품'}"
                              style="color: #0ca03c" th:data-prod="${product.prodNo}"
                              onclick="btnModify(this)">새상품</span>
                        <span th:class="${'statusSpan'+product.prodNo}" th:if="${product.status == '품절'}"
                              style="color: #0c2aa0" th:data-prod="${product.prodNo}"
                              onclick="btnModify(this)">품절</span>
                        <span th:class="${'statusSpan'+product.prodNo}" th:if="${product.status == '삭제된 상품'}"
                              style="color: #e60822" th:data-prod="${product.prodNo}"
                              onclick="btnModify(this)">삭제된 상품</span>
                    </td>
                    <td class="checkTd">
                        <input type="checkbox" class="btn-check prodCheck" th:id="${'btn-check' + product.prodNo}"
                               th:data-prod="${product.prodNo}" autocomplete="off">
                        <label class="btn prodLabel" th:for="${'btn-check' + product.prodNo}">&#10004;</label>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <!-- 페이지 -->
        <div class="pageDiv" id="pageDiv" th:if="${!adminPageResponseDTO.dtoList.isEmpty()}">
            <nav aria-label="Page navigation example" th:if="${!adminPageResponseDTO.dtoList.isEmpty()}">
                <ul class="pagination">
                    <li class="page-item" th:if="${adminPageResponseDTO.start > 1}" >
                        <a class="page-link" th:href="@{/admin/product/list(pg=${adminPageResponseDTO.start - 10})}"
                           aria-label="Previous" th:if="${adminPageResponseDTO.keyword == null}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a class="page-link"
                           th:href="@{/admin/product/list(pg=${adminPageResponseDTO.start - 10}, type=${adminPageResponseDTO.type}, keyword=${adminPageResponseDTO.keyword})}"
                           aria-label="Previous" th:if="${adminPageResponseDTO.keyword != null}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="num:${#numbers.sequence(adminPageResponseDTO.start, adminPageResponseDTO.end)}">
                        <li class="page-item"><a class="page-link" th:href="@{/admin/product/list(pg=${num})}"
                                                 th:if="${adminPageResponseDTO.keyword == null}">[[${num}]]</a></li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/admin/product/list(pg=${num}, type=${adminPageResponseDTO.type}, keyword=${adminPageResponseDTO.keyword})}"
                                                 th:if="${adminPageResponseDTO.keyword != null}">[[${num}]]</a></li>
                    </th:block>
                    <li class="page-item" th:if="${adminPageResponseDTO.next}">
                        <a th:if="${adminPageResponseDTO.keyword == null}" class="page-link"
                           th:href="@{/admin/product/list(pg=${adminPageResponseDTO.end + 1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a th:if="${adminPageResponseDTO.keyword != null}" class="page-link"
                           th:href="@{/admin/product/list(pg=${adminPageResponseDTO.end + 1}, type=${adminPageResponseDTO.type}, keyword=${adminPageResponseDTO.keyword})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <button onclick="prodDelete()">선택삭제</button>
        <!-- 모달 -->
        <div class="statusModal modal" id="prodStatModal">
            <span class="close" onclick="closeModal()" style="font-size: 30px; z-index: 9999;">&times;</span>
            <form id="prodModalForm" th:action="@{/admin/product/}">
                <div id="prodStatModalDiv">
                    <h3>상태</h3>
                    <div class="statusRadio">
                        <input type="hidden" name="prodNo" id="modalProdNoInput">
                        <input type="radio" class="btn-check statRadio0" name="status" id="btn-check-1" value="0"
                               autocomplete="off">
                        <label class="btn btn-outline-secondary" for="btn-check-1" onclick="modifySubmit(this)"
                               data-stat="0">새상품</label>
                        <input type="radio" class="btn-check statRadio1" name="status" id="btn-check-2" value="1"
                               autocomplete="off">
                        <label class="btn btn-outline-secondary" for="btn-check-2" onclick="modifySubmit(this)"
                               data-stat="1">품절</label>
                        <input type="radio" class="btn-check statRadio2" name="status" id="btn-check-3" value="2"
                               autocomplete="off">
                        <label class="btn btn-outline-secondary" for="btn-check-3" onclick="modifySubmit(this)"
                               data-stat="2">삭제</label>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <p class="ico info">
        <strong>Tip!</strong>
        전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
    </p>
    <!-- 상품목록 컨텐츠 끝 -->
</section>
