<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerLayout}">
<!-- 상품 상세페이지 시작 -->
<section class="prodView" layout:fragment="content">
    <script>
        let optionOk = true;
        function goList() {

            if (confirm('작성 중인 내용이 모두 사라집니다. 목록으로 이동하시겠습니까?')) {
                location.href = '/lotteon/seller/product/list';
            }
        }
        // option 선택 Div 공개
        async function prodOption() {
            const cate2 = [[${productDTO.cate2}]];
            console.log("cate2" + cate2);

            optionOk = false;

            document.getElementById('optionInputPanel').style.display = 'block';

        }
        let optionCount = 1;
        // 그 외 option 입력란 추가
        function addEtcOption(button) {

            if(optionCount < 3) {
                optionCount ++;
                // tr 태그 생성 : node를 복사해서 appendChild하면 증가된 option div까지 전부 복사됨
                const tr = document.createElement('tr');
                const tableBody = document.querySelector('#optionTable');

                const innerTr = `<td>
                        <datalist id="list${optionCount}" >
                            <option>색상</option>
                            <option>사이즈</option>
                            <option>소재</option>
                        </datalist>
                        <input type="text" name="opName" list="list${optionCount}" class="optionName">
                    </td>
                    <td class="left eBubbleArea">
                        <div class="optionDiv">
                        <input id="optionValue" name="colorName" type="text" class="fText optionValue"
                               style="width:150px;" placeholder="옵션 값을 입력">
                        <span class="spanBtn btnOption lv1Minus vaBottom" onclick="minusValueInput(this)">옵션 값 삭제</span>
                        <span class="spanBtn btnOption lv1Plus vaBottom" onclick="plusValueInput(this)">옵션 값 추가</span>
                        </div>
                    </td>
                    <td>
                        <div class="button">
                            <button type="button" class="btnOption lv1Minus vaBottom" onclick="removeOption(this)">
                                <span>삭제</span></button>
                            <button type="button" class="btnOption lv1Plus vaBottom" onclick="addEtcOption(this)">
                                <span>추가</span></button>
                        </div>
                    </td>`;

                tr.classList.add('eHeading', 'manualOptionRow', 'optionEtcListTr');
                tr.innerHTML = innerTr;
                tableBody.appendChild(tr);

            }else{
                alert('옵션 분류는 세개가 최대입니다.');
            }
        }

        // 옵션값 추가
        function plusValueInput(span) {
            const td = span.closest('td');
            // 기존 optionDiv 태그 복사
            const optionDiv = document.querySelector('.optionDiv').cloneNode(true);
            td.appendChild(optionDiv);
        }
        // option (이름) 입력란 삭제
        function removeOption(button) {
            const tr = button.closest('tr');
            if(optionCount > 1) {
                tr.remove();
                optionCount --;
            }
        }
        // 옵션값 삭제
        function minusValueInput(span) {
            const optionDiv = span.closest('div');
            optionDiv.remove();
        }

        // 모든 옵션 품목추가 버튼 클릭
        async function pushEtcOptionList(e){
            e.preventDefault();
            const prodNo = [[${productDTO.prodNo}]];

            const trList = document.getElementsByClassName('optionEtcListTr');
            const optionList = [];
            optionList.length = 0;
            optionOk = true;
            // 각 tr 요소에 대해 반복
            for (const tr of trList) {
                const optionName = tr.querySelector('.optionName');
                const opName = optionName.value;
                console.log("opName : " + opName);
                const optionValueList = tr.getElementsByClassName('optionValue');

                // 각 optionValue Input 요소에 대해 반복
                for(const optionValue of optionValueList){
                    const opValue = optionValue.value;
                    console.log("opValue : " + opValue);
                    // OptionDTO 객체 생성
                    const optionDTO = {
                        "prodNo" : prodNo,
                        "opName": opName,
                        "opValue": opValue
                    };

                    // OptionDTO 객체를 배열에 추가
                    optionList.push(optionDTO);
                    console.log(optionList);
                }

            }
            const jsonData = JSON.stringify(optionList);
            console.log("aaaa : " + jsonData);
            // 서버에 전송
            await fetch('/lotteon/seller/option', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(optionList)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('옵션 등록을 실패했습니다.');
                    }
                    return response.json()
                })
                .catch(err => console.log(err))
            console.log(optionList);

            alert('옵션 등록 성공');
            // 3초 뒤에 페이지 이동
            setTimeout(() => {
                window.location.href = '/lotteon/seller/product/list';
            }, 3000);
        }
    </script>

    <!-- 제목, 페이지 네비게이션 -->
    <nav>
        <h1>상품관리</h1>
    </nav>
    <!-- 상품 전체 정보 내용 -->
    <article class="info">
        <div class="image">
            <img th:src="@{|/prodImg/${productDTO.thumb3}|}" alt="상품이미지"/>
        </div>
        <div class="summary">
            <nav>
                <h1>[[${productDTO.company}]]</h1>
                <h2>상품번호&nbsp;:&nbsp;<span>[[${productDTO.prodNo}]]</span></h2>
            </nav>
            <nav>
                <h3>[[${productDTO.prodName}]]</h3>
                <p>[[${productDTO.descript}]]</p>
            </nav>
            <nav>
                <div class="org_price">
                    <del>[[${productDTO.price}]]</del>
                    <span>[[${productDTO.discount}]]%</span>
                </div>
                <div class="dis_price">
                    <ins>[[${productDTO.price - (productDTO.price * productDTO.discount / 100)}]]</ins>
                </div>
            </nav>
            <nav th:if="${productDTO.delivery} == 0">
                <span class="delivery">무료배송</span>
                <span class="arrival">모레(금) [[${productDTO.rdate}]] 도착예정</span>
                <span class="desc">본 상품은 국내배송만 가능합니다.</span>
            </nav>
            <div class="button">
                <input type="button" class="list" value="상품목록" onclick="goList()"/>
                <input type="button" class="addOption" value="옵션추가" onclick="prodOption()"/>
            </div>
        </div>
    </article>
    <!-- 그 외 상품 옵션 추가 -->
    <div id="optionInputPanel" class="addForm _self_option_wrap" style="display: none;">
        <h4>옵션</h4>
        <p>
            반드시 모든 옵션 품목추가를 하셔야 합니다. 등록된 상품은 같은 상품코드가 부여됩니다.
        </p>
        <div class="mBoard gCellSingle">
            <table border="1" summary="" id="optionTable" class="prodOptionTable">
                <thead>
                <tr>
                    <th scope="col">옵션분류</th>
                    <th scope="col">옵션값</th>
                    <th scope="col">분류추가</th>
                </tr>
                </thead>
                <tbody class="center" id="optionTbody">
                <tr class="eHeading manualOptionRow optionEtcListTr" optiongroup="0">
                    <td>
                        <datalist id="list1" class="list" >
                            <option>색상</option>
                            <option>사이즈</option>
                            <option>소재</option>
                        </datalist>
                        <input type="text" name="opName" list="list1" class="optionName">
                    </td>
                    <td class="left eBubbleArea">
                        <div class="optionDiv">
                            <input id="optionValue" name="optionValue" type="text" class="fText optionValue"
                                   style="width:150px;" placeholder="옵션 값을 입력">
                            <span class="spanBtn btnOption lv1Minus vaBottom" onclick="minusValueInput(this)">옵션 값 삭제</span>
                            <span class="spanBtn btnOption lv1Plus vaBottom" onclick="plusValueInput(this)">옵션 값 추가</span>
                        </div>
                    </td>
                    <td>
                        <div class="button">
                            <button type="button" class="btnOption lv1Minus vaBottom" onclick="removeOption(this)">
                                <span>삭제</span></button>
                            <button type="button" class="btnOption lv1Plus vaBottom" onclick="addEtcOption(this)">
                                <span>추가</span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="gRight">
            <button id="optionSubmit2" onclick="pushEtcOptionList(event)">모든 옵션 품목추가</button>
        </div>
    </div>
    <!-- 상품 정보 제공 고시 내용 -->
    <article class="notice">
        <nav>
            <h1>상품 정보 제공 고시</h1>
        </nav>
        <table border="0">
            <tr>
                <td>상품번호</td>
                <td>[[${productDTO.prodNo}]]</td>
            </tr>
            <tr>
                <td>상품상태</td>
                <td>[[${productDTO.status}]]</td>
            </tr>
            <tr>
                <td>부가세 면세여부</td>
                <td>[[${productDTO.duty}]]</td>
            </tr>
            <tr>
                <td>영수증발행</td>
                <td>[[${productDTO.receipt}]]</td>
            </tr>
            <tr>
                <td>사업자구분</td>
                <td>[[${productDTO.bizType}]]</td>
            </tr>
            <tr>
                <td>브랜드</td>
                <td>[[${productDTO.company}]]</td>
            </tr>
            <tr>
                <td>원산지</td>
                <td>[[${productDTO.origin}]]</td>
            </tr>
        </table>
        <table border="0">
            <tr>
                <td>제품소재</td>
                <td>[[${productDTO.descript}]]</td>
            </tr>
            <tr>
                <td>색상</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>치수</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>제조자/수입국</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>제조국</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>취급시 주의사항</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>제조연월</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>품질보증기준</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>A/S 책임자와 전화번호</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td>주문후 예상 배송기간</td>
                <td>상세정보 직접입력</td>
            </tr>
            <tr>
                <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
            </tr>
        </table>
    </article>
</section>